Repository istio/istio, changes with the owners that CODEOWNERS names for each.
All owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers, @istio/wg-environments-maintainers, @istio/wg-networking-maintainers, @istio/wg-user-experience-maintainers, @istio/wg-security-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-policies-and-telemetry-maintainers, @istio/wg-docs-maintainers-english, @istio/wg-networking-maintainers-ztunnel

go-control-plane: only depend on protos
  go.mod
  pilot/pkg/networking/core/accesslog_test.go
  pilot/pkg/networking/core/listener_test.go
  pilot/test/xdstest/extract.go
  pkg/adsc/adsc.go
  pkg/adsc/delta.go
  pkg/adsc/delta_test.go
  pkg/bootstrap/option/convert.go
  pkg/config/xds/filter_types.go
  pkg/config/xds/filters.go
  pkg/dns/proto/nds.pb.go
  pkg/util/protomarshal/protomarshal.go
  pkg/wasm/convert.go
  pkg/wasm/convert_test.go
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers, @istio/wg-test-and-release-maintainers, @istio/wg-policies-and-telemetry-maintainers

Fix unit test flake
  cni/pkg/nodeagent/informers_test.go
Owners: @istio/wg-networking-maintainers

By default, exclude gateways from ambient mesh enrollment
  manifests/charts/gateway/values.yaml
  manifests/charts/gateways/istio-egress/values.yaml
  manifests/charts/gateways/istio-ingress/values.yaml
Owners: @istio/wg-environments-maintainers

Relnote
  releasenotes/notes/54825.yaml
Owners: none

Fix unit test flake (#54823)
  cni/pkg/nodeagent/informers_test.go
Owners: @istio/wg-networking-maintainers

Do it the dumb way for the old gw charts
  manifests/charts/gateways/istio-egress/templates/deployment.yaml
  manifests/charts/gateways/istio-egress/values.yaml
  manifests/charts/gateways/istio-ingress/templates/deployment.yaml
  manifests/charts/gateways/istio-ingress/values.yaml
Owners: @istio/wg-environments-maintainers

By default, exclude gateways from ambient mesh enrollment (#54825)
  manifests/charts/gateway/values.yaml
  manifests/charts/gateways/istio-egress/templates/deployment.yaml
  manifests/charts/gateways/istio-egress/values.yaml
  manifests/charts/gateways/istio-ingress/templates/deployment.yaml
  manifests/charts/gateways/istio-ingress/values.yaml
  releasenotes/notes/54825.yaml
Owners: @istio/wg-environments-maintainers

renote tweaks
  releasenotes/notes/53906.yaml
  releasenotes/notes/ambient-dns-on.yaml
Owners: none

Fixups, off-by-default
  cni/pkg/nodeagent/net.go
  manifests/charts/istio-cni/values.yaml
  releasenotes/notes/53906.yaml
  releasenotes/notes/ambient-dns-on.yaml
Owners: @istio/wg-networking-maintainers, @istio/wg-environments-maintainers

Support reconciling existing ambient pod iptables rules on agent startup
  cni/pkg/iptables/iptables.go
  cni/pkg/nodeagent/fakes_test.go
  cni/pkg/nodeagent/net.go
  cni/pkg/nodeagent/net_test.go
  cni/pkg/nodeagent/server.go
  manifests/charts/base/files/profile-compatibility-version-1.22.yaml
  manifests/charts/base/files/profile-compatibility-version-1.23.yaml
  manifests/charts/base/files/profile-compatibility-version-1.24.yaml
  manifests/charts/default/files/profile-compatibility-version-1.22.yaml
  manifests/charts/default/files/profile-compatibility-version-1.23.yaml
  manifests/charts/default/files/profile-compatibility-version-1.24.yaml
  manifests/charts/gateway/files/profile-compatibility-version-1.22.yaml
  manifests/charts/gateway/files/profile-compatibility-version-1.23.yaml
  manifests/charts/gateway/files/profile-compatibility-version-1.24.yaml
  manifests/charts/gateways/istio-egress/files/profile-compatibility-version-1.22.yaml
  manifests/charts/gateways/istio-egress/files/profile-compatibility-version-1.23.yaml
  manifests/charts/gateways/istio-egress/files/profile-compatibility-version-1.24.yaml
  manifests/charts/gateways/istio-ingress/files/profile-compatibility-version-1.22.yaml
  manifests/charts/gateways/istio-ingress/files/profile-compatibility-version-1.23.yaml
  manifests/charts/gateways/istio-ingress/files/profile-compatibility-version-1.24.yaml
  manifests/charts/istio-cni/files/profile-compatibility-version-1.22.yaml
  manifests/charts/istio-cni/files/profile-compatibility-version-1.23.yaml
  manifests/charts/istio-cni/files/profile-compatibility-version-1.24.yaml
  manifests/charts/istio-cni/templates/configmap-cni.yaml
  manifests/charts/istio-cni/values.yaml
  manifests/charts/istio-control/istio-discovery/files/profile-compatibility-version-1.22.yaml
  manifests/charts/istio-control/istio-discovery/files/profile-compatibility-version-1.23.yaml
  manifests/charts/istio-control/istio-discovery/files/profile-compatibility-version-1.24.yaml
  manifests/charts/ztunnel/files/profile-compatibility-version-1.22.yaml
  manifests/charts/ztunnel/files/profile-compatibility-version-1.23.yaml
  manifests/charts/ztunnel/files/profile-compatibility-version-1.24.yaml
  manifests/helm-profiles/compatibility-version-1.22.yaml
  manifests/helm-profiles/compatibility-version-1.23.yaml
  manifests/helm-profiles/compatibility-version-1.24.yaml
  releasenotes/notes/53906.yaml
Owners: @istio/wg-networking-maintainers, @istio/wg-environments-maintainers

ambient: fix caching of HBONE access log filter
  pilot/pkg/networking/core/accesslog.go
Owners: @istio/wg-networking-maintainers-pilot

Enable CNI logging temporarily to try and catch better context on https://github.com/istio/istio/issues/54645
  tests/integration/ambient/main_test.go
Owners: @istio/wg-test-and-release-maintainers

ambient: fix caching of HBONE access log filter (#54826)
  pilot/pkg/networking/core/accesslog.go
Owners: @istio/wg-networking-maintainers-pilot

fix lint
  tools/istio-iptables/pkg/dependencies/implementation_linux.go
Owners: @istio/wg-networking-maintainers

fixup
  licenses/github.com/envoyproxy/go-control-plane/LICENSE
  pkg/dns/proto/nds.pb.go
  tests/binary/dependencies_test.go
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-networking-maintainers, @istio/wg-test-and-release-maintainers

Refactor RunX cmds for istio-iptables into a single API (#54671)
  cni/pkg/iptables/iptables.go
  releasenotes/notes/54644.yaml
  tools/istio-iptables/pkg/capture/helper.go
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
  tools/istio-iptables/pkg/dependencies/implementation.go
  tools/istio-iptables/pkg/dependencies/implementation_linux.go
  tools/istio-iptables/pkg/dependencies/implementation_unspecified.go
  tools/istio-iptables/pkg/dependencies/interface.go
  tools/istio-iptables/pkg/dependencies/stub.go
Owners: @istio/wg-networking-maintainers

add test for sidecar
  pilot/pkg/networking/core/listener_test.go
Owners: @istio/wg-networking-maintainers-pilot

Add release note from #54803
  releasenotes/notes/opencensus-removal.yaml
Owners: none

go-control-plane: only depend on protos (#54804)
  go.mod
  licenses/github.com/envoyproxy/go-control-plane/LICENSE
  pilot/pkg/networking/core/accesslog_test.go
  pilot/pkg/networking/core/listener_test.go
  pilot/test/xdstest/extract.go
  pkg/adsc/adsc.go
  pkg/adsc/delta.go
  pkg/adsc/delta_test.go
  pkg/bootstrap/option/convert.go
  pkg/config/xds/filter_types.go
  pkg/config/xds/filters.go
  pkg/util/protomarshal/protomarshal.go
  pkg/wasm/convert.go
  pkg/wasm/convert_test.go
  tests/binary/dependencies_test.go
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers, @istio/wg-test-and-release-maintainers, @istio/wg-policies-and-telemetry-maintainers

Automator: update go-control-plane in istio/istio@master
  go.mod
  go.sum
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Add release note from #54803 (#54829)
  releasenotes/notes/opencensus-removal.yaml
Owners: none

Automator: update go-control-plane in istio/istio@master (#54830)
  go.mod
  go.sum
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automated branching step 1
  common/.commonfiles.sha
  common/config/.golangci.yml
  common/scripts/kind_provisioner.sh
  docker/Dockerfile.distroless
  go.mod
  go.sum
  istio.deps
  manifests/charts/base/files/crd-all.gen.yaml
  pkg/config/validation/testdata/crds/authz-valid.yaml
  prow/release-commit.sh
Owners: @istio/wg-test-and-release-maintainers, @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-environments-maintainers, @istio/wg-networking-maintainers

Automator: update istio/client-go@master dependency in istio/istio@master
  go.mod
  go.sum
  manifests/charts/base/files/crd-all.gen.yaml
  pkg/config/validation/testdata/crds/authz-valid.yaml
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-environments-maintainers, @istio/wg-networking-maintainers

Add HBONE termination access logs
  pilot/pkg/networking/core/accesslog.go
  pilot/pkg/networking/core/listener_waypoint.go
Owners: @istio/wg-networking-maintainers-pilot

Automator: update istio/client-go@master dependency in istio/istio@master (#54403)
  go.mod
  go.sum
  manifests/charts/base/files/crd-all.gen.yaml
  pkg/config/validation/testdata/crds/authz-valid.yaml
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-environments-maintainers, @istio/wg-networking-maintainers

move Envoy go-control-plane DNS lint rules to local overrides
  common/config/.golangci.yml
  tools/golangci-override.yaml
Owners: @istio/wg-test-and-release-maintainers

couldn't get issues.exclude-rules working, move to granular nolint comments
  pilot/pkg/networking/core/cluster_builder.go
  pilot/pkg/networking/core/cluster_builder_test.go
  tools/golangci-override.yaml
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-test-and-release-maintainers

Drop clearly wrong goroutine spawn in test code
  cni/pkg/nodeagent/informers_test.go
Owners: @istio/wg-networking-maintainers

move Envoy go-control-plane DNS lint rules to local overrides (#54835)
  common/config/.golangci.yml
  pilot/pkg/networking/core/cluster_builder.go
  pilot/pkg/networking/core/cluster_builder_test.go
Owners: @istio/wg-test-and-release-maintainers, @istio/wg-networking-maintainers-pilot

Bump golang.org/x/net to v0.33.0 (#54585) (#54817)
  go.mod
  go.sum
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Ambient cni node agent: Reconcile pod iptables rules on startup (#53906)
  cni/pkg/iptables/iptables.go
  cni/pkg/nodeagent/fakes_test.go
  cni/pkg/nodeagent/net.go
  cni/pkg/nodeagent/net_test.go
  cni/pkg/nodeagent/server.go
  manifests/charts/base/files/profile-compatibility-version-1.22.yaml
  manifests/charts/base/files/profile-compatibility-version-1.23.yaml
  manifests/charts/base/files/profile-compatibility-version-1.24.yaml
  manifests/charts/default/files/profile-compatibility-version-1.22.yaml
  manifests/charts/default/files/profile-compatibility-version-1.23.yaml
  manifests/charts/default/files/profile-compatibility-version-1.24.yaml
  manifests/charts/gateway/files/profile-compatibility-version-1.22.yaml
  manifests/charts/gateway/files/profile-compatibility-version-1.23.yaml
  manifests/charts/gateway/files/profile-compatibility-version-1.24.yaml
  manifests/charts/gateways/istio-egress/files/profile-compatibility-version-1.22.yaml
  manifests/charts/gateways/istio-egress/files/profile-compatibility-version-1.23.yaml
  manifests/charts/gateways/istio-egress/files/profile-compatibility-version-1.24.yaml
  manifests/charts/gateways/istio-ingress/files/profile-compatibility-version-1.22.yaml
  manifests/charts/gateways/istio-ingress/files/profile-compatibility-version-1.23.yaml
  manifests/charts/gateways/istio-ingress/files/profile-compatibility-version-1.24.yaml
  manifests/charts/istio-cni/files/profile-compatibility-version-1.22.yaml
  manifests/charts/istio-cni/files/profile-compatibility-version-1.23.yaml
  manifests/charts/istio-cni/files/profile-compatibility-version-1.24.yaml
  manifests/charts/istio-cni/templates/configmap-cni.yaml
  manifests/charts/istio-cni/values.yaml
  manifests/charts/istio-control/istio-discovery/files/profile-compatibility-version-1.22.yaml
  manifests/charts/istio-control/istio-discovery/files/profile-compatibility-version-1.23.yaml
  manifests/charts/istio-control/istio-discovery/files/profile-compatibility-version-1.24.yaml
  manifests/charts/ztunnel/files/profile-compatibility-version-1.22.yaml
  manifests/charts/ztunnel/files/profile-compatibility-version-1.23.yaml
  manifests/charts/ztunnel/files/profile-compatibility-version-1.24.yaml
  manifests/helm-profiles/compatibility-version-1.22.yaml
  manifests/helm-profiles/compatibility-version-1.23.yaml
  manifests/helm-profiles/compatibility-version-1.24.yaml
  releasenotes/notes/53906.yaml
  releasenotes/notes/ambient-dns-on.yaml
Owners: @istio/wg-networking-maintainers, @istio/wg-environments-maintainers

Automated branching step 1
  common/.commonfiles.sha
  common/config/.golangci.yml
  common/scripts/kind_provisioner.sh
  docker/Dockerfile.distroless
  go.mod
  go.sum
  istio.deps
  prow/release-commit.sh
Owners: @istio/wg-test-and-release-maintainers, @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update common-files@master in istio/istio@master
  common/.commonfiles.sha
  common/config/.golangci.yml
  common/scripts/kind_provisioner.sh
Owners: @istio/wg-test-and-release-maintainers

Automator: update istio/client-go@master dependency in istio/istio@master
  go.mod
  go.sum
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update common-files@master in istio/istio@master (#54799)
  common/.commonfiles.sha
  common/config/.golangci.yml
  common/scripts/kind_provisioner.sh
Owners: @istio/wg-test-and-release-maintainers

Run make gen
  licenses/golang.org/x/crypto/LICENSE
  licenses/golang.org/x/net/LICENSE
  licenses/golang.org/x/sync/LICENSE
  licenses/golang.org/x/sys/LICENSE
  licenses/golang.org/x/term/LICENSE
  licenses/golang.org/x/text/LICENSE
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update istio/client-go@master dependency in istio/istio@master (#54840)
  go.mod
  go.sum
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

istioctl: support delete specific revision waypoints
  istioctl/pkg/waypoint/waypoint.go
  releasenotes/notes/54843.yaml
Owners: @istio/wg-user-experience-maintainers, @istio/wg-networking-maintainers

Fix some formatting issue
  istioctl/pkg/proxyconfig/proxyconfig.go
  releasenotes/notes/54714.yaml
Owners: @istio/wg-user-experience-maintainers, @istio/wg-networking-maintainers

CODEOWNERS:

*                                                                @costinm @linsun @howardjohn @stevenctl @keithmattix @hzxuzhonghu
/.gitattributes                                                  @istio/wg-test-and-release-maintainers
/.gitignore                                                      @istio/wg-test-and-release-maintainers
/Makefile.core.mk                                                @istio/wg-test-and-release-maintainers
/bin/                                                            @istio/wg-test-and-release-maintainers
/cmd/istiod/                                                     @istio/wg-environments-maintainers
/cni/                                                            @istio/wg-networking-maintainers
/common/                                                         @istio/wg-test-and-release-maintainers
/common-protos/                                                  @istio/wg-test-and-release-maintainers
/install/                                                        @istio/wg-environments-maintainers
/istioctl/                                                       @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
Makefile*                                                        @istio/wg-test-and-release-maintainers
/manifests/                                                      @istio/wg-environments-maintainers
/operator/                                                       @istio/wg-environments-maintainers
/pilot/                                                          @istio/wg-networking-maintainers
/pilot/pkg/security/                                             @istio/wg-security-maintainers
/pilot/pkg/config/                                               @istio/wg-networking-maintainers
/pilot/pkg/networking/plugin/authn/                              @istio/wg-security-maintainers
/pilot/pkg/networking/plugin/authz/                              @istio/wg-security-maintainers
/pilot/pkg/serviceregistry/                                      @istio/wg-networking-maintainers-pilot
/pilot/pkg/model/                                                @istio/wg-networking-maintainers-pilot
/pilot/pkg/networking/core                                       @istio/wg-networking-maintainers-pilot
/pilot/pkg/proxy                                                 @istio/wg-networking-maintainers-pilot
/pkg/                                                            @istio/wg-test-and-release-maintainers
/pkg/adsc/                                                       @istio/wg-networking-maintainers
/pkg/bootstrap/                                                  @istio/wg-networking-maintainers
/pkg/config/                                                     @istio/wg-networking-maintainers
/pkg/config/analysis/                                            @istio/wg-networking-maintainers @istio/wg-user-experience-maintainers
/pkg/dns/                                                        @istio/wg-networking-maintainers
/pkg/envoy/                                                      @istio/wg-networking-maintainers
/pkg/istio-agent/                                                @istio/wg-networking-maintainers @istio/wg-security-maintainers
/pkg/keepalive/                                                  @istio/wg-networking-maintainers
/pkg/monitoring/                                                 @istio/wg-networking-maintainers @istio/wg-policies-and-telemetry-maintainers
/pkg/kube/                                                       @istio/wg-networking-maintainers
/pkg/mcp/                                                        @istio/wg-networking-maintainers
/pkg/queue/                                                      @istio/wg-networking-maintainers
/pkg/security/                                                   @istio/wg-security-maintainers @istio/wg-environments-maintainers
/pkg/spiffe/                                                     @istio/wg-security-maintainers
/pkg/test/                                                       @istio/wg-test-and-release-maintainers
/pkg/fuzz/                                                       @istio/wg-test-and-release-maintainers
/pkg/tracing/                                                    @istio/wg-policies-and-telemetry-maintainers
/pkg/wasm/                                                       @istio/wg-policies-and-telemetry-maintainers
/pkg/webhooks/                                                   @istio/wg-environments-maintainers
/pkg/workloadapi/                                                @istio/wg-networking-maintainers
/prow/                                                           @istio/wg-test-and-release-maintainers
/release/                                                        @istio/wg-test-and-release-maintainers
/releasenotes/                                                   @istio/wg-test-and-release-maintainers
/releasenotes/notes
/samples/                                                        @istio/wg-docs-maintainers-english
/samples/addons                                                  @istio/wg-policies-and-telemetry-maintainers @istio/wg-environments-maintainers
/samples/ambient-argo                                            @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/samples/multicluster                                            @istio/wg-networking-maintainers
/security/                                                       @istio/wg-security-maintainers
/tests/                                                          @istio/wg-test-and-release-maintainers
/tests/integration/conformance/                                  @istio/wg-test-and-release-maintainers
/tests/integration/framework/                                    @istio/wg-test-and-release-maintainers
/tests/integration/galley/                                       @istio/wg-networking-maintainers
/tests/integration/telemetry/                                    @istio/wg-policies-and-telemetry-maintainers
/tests/integration/pilot/                                        @istio/wg-networking-maintainers
/tests/integration/qualification/                                @istio/wg-test-and-release-maintainers
/tests/integration/security/                                     @istio/wg-security-maintainers
/tests/integration/istioctl/                                     @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/tools/                                                          @istio/wg-test-and-release-maintainers
/tools/packaging/common/envoy_bootstrap.json                     @istio/wg-networking-maintainers
/tools/istio-iptables/                                           @istio/wg-networking-maintainers
architecture/ambient                                             @istio/wg-networking-maintainers-pilot @istio/wg-networking-maintainers-ztunnel
architecture/environments                                        @istio/wg-environments-maintainers
architecture/networking                                          @istio/wg-networking-maintainers
architecture/security                                            @istio/wg-security-maintainers
