Repository istio/istio, changes with the owners that CODEOWNERS names for each.
All owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers, @istio/wg-environments-maintainers, @istio/wg-networking-maintainers, @istio/wg-user-experience-maintainers, @istio/wg-security-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-policies-and-telemetry-maintainers, @istio/wg-docs-maintainers-english, @istio/wg-networking-maintainers-ztunnel

Add tagged gateways to status and XDS (#54465)
  pilot/pkg/bootstrap/configcontroller.go
  pilot/pkg/bootstrap/options.go
  pilot/pkg/config/kube/crdclient/client.go
  pilot/pkg/config/kube/gateway/controller.go
  pilot/pkg/config/kube/gateway/controller_test.go
  pilot/pkg/config/kube/gateway/deploymentcontroller.go
  pilot/pkg/model/push_context.go
  pkg/config/model.go
  pkg/revisions/leak_test.go
  pkg/revisions/tag_watcher.go
  releasenotes/notes/54458.yaml
  tests/integration/pilot/gateway_test.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-test-and-release-maintainers

Drop PushContext errors
  manifests/addons/dashboards/lib/queries.libsonnet
  manifests/addons/dashboards/pilot-dashboard.gen.json
  pilot/pkg/config/kube/gateway/controller.go
  pilot/pkg/config/kube/gateway/controller_test.go
  pilot/pkg/model/context.go
  pilot/pkg/model/push_context.go
  pilot/pkg/model/push_context_test.go
  pilot/pkg/networking/core/envoyfilter/listener_patch_test.go
  pilot/pkg/networking/core/fake.go
  pilot/pkg/networking/core/loadbalancer/loadbalancer_test.go
  pilot/pkg/xds/ads.go
  pilot/pkg/xds/delta.go
  pilot/pkg/xds/discovery.go
  pilot/pkg/xds/endpoints/endpoint_builder_test.go
  pilot/pkg/xds/monitoring.go
  samples/addons/grafana.yaml
  tests/fuzz/pilot_model_fuzzer.go
Owners: @istio/wg-environments-maintainers, @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-policies-and-telemetry-maintainers, @istio/wg-test-and-release-maintainers

more error removal
  pilot/pkg/xds/discovery.go
Owners: @istio/wg-networking-maintainers

kclient: apply client side filter to index result
  pkg/kube/kclient/client.go
  pkg/kube/kclient/index.go
  pkg/kube/kclient/index_test.go
Owners: @istio/wg-networking-maintainers

fix test
  pkg/kube/kclient/client.go
Owners: @istio/wg-networking-maintainers

kclient: apply client side filter to index result (#54316)
  pkg/kube/kclient/client.go
  pkg/kube/kclient/index.go
  pkg/kube/kclient/index_test.go
Owners: @istio/wg-networking-maintainers

Drop go-control-plane and rely on subpackages
  go.mod
  go.sum
  pkg/config/xds/filter_types.gen.go
  pkg/config/xds/filter_types.go
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-networking-maintainers

Add go-control-plane v3 packages too
  pkg/config/xds/filter_types.gen.go
  pkg/config/xds/filter_types.go
Owners: @istio/wg-networking-maintainers

Fixup
  go.mod
  go.sum
  pkg/config/xds/filter_types.gen.go
  pkg/config/xds/filter_types.go
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-networking-maintainers

AuthorizationPolicy serviceAccount: allow same namespace
  pilot/pkg/networking/grpcgen/lds.go
  pilot/pkg/security/authz/builder/builder.go
  pilot/pkg/security/authz/builder/testdata/http/allow-full-rule-in.yaml
  pilot/pkg/security/authz/builder/testdata/http/allow-full-rule-out.yaml
  pilot/pkg/security/authz/builder/testdata/http/extended-allow-full-rule-out.yaml
  pilot/pkg/security/authz/model/generator.go
  pilot/pkg/security/authz/model/generator_test.go
  pilot/pkg/security/authz/model/model.go
  pilot/pkg/security/authz/model/model_test.go
  pilot/pkg/serviceregistry/kube/controller/ambient/authorization.go
  pilot/pkg/serviceregistry/kube/controller/ambient/testdata/allow-full-in.yaml
  pilot/pkg/serviceregistry/kube/controller/ambient/testdata/allow-full.yaml
  pkg/config/security/security.go
  pkg/config/security/security_test.go
Owners: @istio/wg-networking-maintainers, @istio/wg-security-maintainers, @istio/wg-networking-maintainers-pilot

address comments
  pilot/pkg/security/authz/model/generator.go
  pilot/pkg/security/authz/model/generator_test.go
  pkg/config/security/security_test.go
Owners: @istio/wg-security-maintainers, @istio/wg-networking-maintainers

Remove OpenCensus
  manifests/charts/istio-control/istio-discovery/templates/configmap.yaml
  pkg/bootstrap/config.go
  pkg/bootstrap/instance_test.go
  pkg/bootstrap/option/convert.go
  pkg/bootstrap/option/instances.go
  pkg/bootstrap/option/instances_test.go
  pkg/bootstrap/testdata/tracing_opencensusagent.proxycfg
  pkg/bootstrap/testdata/tracing_opencensusagent_golden.json
  pkg/config/xds/filter_types.go
  tools/packaging/common/envoy_bootstrap.json
Owners: @istio/wg-environments-maintainers, @istio/wg-networking-maintainers

switch repo location on devcontainer
  prow/integ-suite-kind.sh
Owners: @istio/wg-test-and-release-maintainers

Use preserveHeaderCase when calculating cache key
  pilot/pkg/networking/core/cluster_cache.go
Owners: @istio/wg-networking-maintainers-pilot

AuthorizationPolicy serviceAccount: allow same namespace (#54745)
  pilot/pkg/networking/grpcgen/lds.go
  pilot/pkg/security/authz/builder/builder.go
  pilot/pkg/security/authz/builder/testdata/http/allow-full-rule-in.yaml
  pilot/pkg/security/authz/builder/testdata/http/allow-full-rule-out.yaml
  pilot/pkg/security/authz/builder/testdata/http/extended-allow-full-rule-out.yaml
  pilot/pkg/security/authz/model/generator.go
  pilot/pkg/security/authz/model/generator_test.go
  pilot/pkg/security/authz/model/model.go
  pilot/pkg/security/authz/model/model_test.go
  pilot/pkg/serviceregistry/kube/controller/ambient/authorization.go
  pilot/pkg/serviceregistry/kube/controller/ambient/testdata/allow-full-in.yaml
  pilot/pkg/serviceregistry/kube/controller/ambient/testdata/allow-full.yaml
  pkg/config/security/security.go
  pkg/config/security/security_test.go
Owners: @istio/wg-networking-maintainers, @istio/wg-security-maintainers, @istio/wg-networking-maintainers-pilot

Automator: update ztunnel@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update ztunnel@master in istio/istio@master (#54807)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Review comment fixups
  cni/pkg/nodeagent/error.go
  cni/pkg/nodeagent/informers.go
  cni/pkg/nodeagent/informers_test.go
  cni/pkg/nodeagent/net.go
  cni/pkg/nodeagent/net_test.go
  cni/pkg/nodeagent/server.go
  cni/pkg/nodeagent/server_test.go
Owners: @istio/wg-networking-maintainers

Use preserveHeaderCase when calculating cache key (#54806)
  pilot/pkg/networking/core/cluster_cache.go
Owners: @istio/wg-networking-maintainers-pilot

Read the resolv.conf more lazilly
  pkg/bootstrap/platform/gcp.go
Owners: @istio/wg-networking-maintainers

ambient: Properly support add/remove retries (#54729)
  cni/pkg/cmd/root.go
  cni/pkg/nodeagent/error.go
  cni/pkg/nodeagent/informers.go
  cni/pkg/nodeagent/informers_test.go
  cni/pkg/nodeagent/net.go
  cni/pkg/nodeagent/net_test.go
  cni/pkg/nodeagent/server.go
  cni/pkg/nodeagent/server_test.go
  cni/pkg/nodeagent/ztunnelserver.go
  cni/pkg/util/podutil.go
  pkg/config/constants/constants.go
Owners: @istio/wg-networking-maintainers

Use resolv.conf for getting the zone (#54786)
  pkg/bootstrap/platform/gcp.go
  pkg/bootstrap/platform/gcp_test.go
Owners: @istio/wg-networking-maintainers

Use the commmon label 'pod' instead of 'pod_name' as label in PodMonitor (#54798)
  samples/addons/extras/prometheus-operator.yaml
Owners: @istio/wg-policies-and-telemetry-maintainers, @istio/wg-environments-maintainers

update dependencies (#54342)
  go.mod
  go.sum
  licenses/github.com/BurntSushi/toml/internal/toml-test/COPYING
  licenses/github.com/golang/groupcache/LICENSE
  licenses/github.com/imdario/mergo/LICENSE
  licenses/go.opentelemetry.io/auto/sdk/LICENSE
  licenses/go.starlark.net/LICENSE
  licenses/k8s.io/kube-openapi/pkg/internal/third_party/govalidator/LICENSE
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

go mod tidy
  go.mod
  go.sum
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

update dependencies (#54342)
  go.mod
  go.sum
  licenses/github.com/BurntSushi/toml/internal/toml-test/COPYING
  licenses/github.com/golang/groupcache/LICENSE
  licenses/github.com/imdario/mergo/LICENSE
  licenses/go.opentelemetry.io/auto/sdk/LICENSE
  licenses/go.starlark.net/LICENSE
  licenses/k8s.io/kube-openapi/pkg/internal/third_party/govalidator/LICENSE
  tests/binary/binaries_test.go
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers

go mod tidy
  go.mod
  go.sum
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

wrap executeXTables error with stderr
  tools/istio-iptables/pkg/dependencies/implementation_linux.go
Owners: @istio/wg-networking-maintainers

Bump golang.org/x/net to v0.33.0 (#54585)
  go.mod
  go.sum
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

go mod tidy
  go.mod
  go.sum
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Bump golang.org/x/net to v0.33.0 (#54585)
  go.mod
  go.sum
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Support TrafficDistribution for Envoy (#54715)
  pilot/pkg/features/experimental.go
  pilot/pkg/model/endpointshards.go
  pilot/pkg/model/service.go
  pilot/pkg/networking/core/cluster_builder.go
  pilot/pkg/networking/core/cluster_test.go
  pilot/pkg/networking/core/cluster_traffic_policy.go
  pilot/pkg/networking/core/cluster_waypoint.go
  pilot/pkg/networking/core/loadbalancer/loadbalancer.go
  pilot/pkg/networking/core/loadbalancer/loadbalancer_test.go
  pilot/pkg/serviceregistry/kube/controller/endpoint_builder.go
  pilot/pkg/serviceregistry/kube/controller/endpointslice.go
  pilot/pkg/serviceregistry/kube/controller/pod.go
  pilot/pkg/serviceregistry/kube/conversion.go
  pilot/pkg/serviceregistry/serviceentry/conversion.go
  pilot/pkg/xds/eds_test.go
  pilot/pkg/xds/endpoints/endpoint_builder.go
  releasenotes/notes/traffic-distribution.yaml
  tests/integration/pilot/locality_test.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot

ambient: fix ingress-use-waypoint with ServiceEntry (#54765)
  pilot/pkg/model/service.go
  pilot/pkg/serviceregistry/kube/controller/ambient/ambientindex.go
  pilot/pkg/serviceregistry/kube/controller/ambient/services.go
  pilot/pkg/xds/endpoints/endpoint_builder.go
  pilot/pkg/xds/waypoint_test.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers

cni: better host port management
  cni/pkg/cmd/root.go
  cni/pkg/constants/constants.go
  cni/pkg/log/uds.go
  cni/pkg/monitoring/monitoring.go
  cni/pkg/nodeagent/healthServer.go
  manifests/charts/istio-cni/templates/daemonset.yaml
Owners: @istio/wg-networking-maintainers, @istio/wg-environments-maintainers

Fix make gen
  common/config/.golangci.yml
  go.sum
  licenses/github.com/envoyproxy/go-control-plane/contrib/LICENSE
  licenses/github.com/envoyproxy/go-control-plane/envoy/LICENSE
  pkg/bootstrap/testdata/tracing_datadog_golden.json
Owners: @istio/wg-test-and-release-maintainers, @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-networking-maintainers

ambient: refactor internal transports (#54785)
  pilot/pkg/networking/core/cluster_tls.go
  pilot/pkg/networking/core/cluster_waypoint.go
  pilot/pkg/networking/util/internal_upstream.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers

[1.24] ambient: fix ingress-use-waypoint with ServiceEntry (#54765)
  pilot/pkg/model/service.go
  pilot/pkg/xds/endpoints/endpoint_builder.go
  pilot/pkg/xds/waypoint_test.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers

Drop go-control-plane and rely on subpackages (#54803)
  common/config/.golangci.yml
  go.mod
  go.sum
  licenses/github.com/envoyproxy/go-control-plane/contrib/LICENSE
  licenses/github.com/envoyproxy/go-control-plane/envoy/LICENSE
  manifests/charts/istio-control/istio-discovery/templates/configmap.yaml
  pkg/bootstrap/config.go
  pkg/bootstrap/instance_test.go
  pkg/bootstrap/option/convert.go
  pkg/bootstrap/option/instances.go
  pkg/bootstrap/option/instances_test.go
  pkg/bootstrap/testdata/tracing_datadog_golden.json
  pkg/bootstrap/testdata/tracing_opencensusagent.proxycfg
  pkg/bootstrap/testdata/tracing_opencensusagent_golden.json
  pkg/config/xds/filter_types.gen.go
  pkg/config/xds/filter_types.go
  tools/packaging/common/envoy_bootstrap.json
Owners: @istio/wg-test-and-release-maintainers, @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-environments-maintainers, @istio/wg-networking-maintainers

more tests
  pilot/pkg/config/kube/gateway/conversion.go
  pilot/pkg/config/kube/gateway/testdata/http.yaml
  pilot/pkg/config/kube/gateway/testdata/http.yaml.golden
Owners: @istio/wg-networking-maintainers

add tests
  pilot/pkg/config/kube/gateway/conversion.go
  pilot/pkg/config/kube/gateway/testdata/http.yaml
  pilot/pkg/config/kube/gateway/testdata/http.yaml.golden
Owners: @istio/wg-networking-maintainers

CODEOWNERS:

*                                                                @costinm @linsun @howardjohn @stevenctl @keithmattix @hzxuzhonghu
/.gitattributes                                                  @istio/wg-test-and-release-maintainers
/.gitignore                                                      @istio/wg-test-and-release-maintainers
/Makefile.core.mk                                                @istio/wg-test-and-release-maintainers
/bin/                                                            @istio/wg-test-and-release-maintainers
/cmd/istiod/                                                     @istio/wg-environments-maintainers
/cni/                                                            @istio/wg-networking-maintainers
/common/                                                         @istio/wg-test-and-release-maintainers
/common-protos/                                                  @istio/wg-test-and-release-maintainers
/install/                                                        @istio/wg-environments-maintainers
/istioctl/                                                       @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
Makefile*                                                        @istio/wg-test-and-release-maintainers
/manifests/                                                      @istio/wg-environments-maintainers
/operator/                                                       @istio/wg-environments-maintainers
/pilot/                                                          @istio/wg-networking-maintainers
/pilot/pkg/security/                                             @istio/wg-security-maintainers
/pilot/pkg/config/                                               @istio/wg-networking-maintainers
/pilot/pkg/networking/plugin/authn/                              @istio/wg-security-maintainers
/pilot/pkg/networking/plugin/authz/                              @istio/wg-security-maintainers
/pilot/pkg/serviceregistry/                                      @istio/wg-networking-maintainers-pilot
/pilot/pkg/model/                                                @istio/wg-networking-maintainers-pilot
/pilot/pkg/networking/core                                       @istio/wg-networking-maintainers-pilot
/pilot/pkg/proxy                                                 @istio/wg-networking-maintainers-pilot
/pkg/                                                            @istio/wg-test-and-release-maintainers
/pkg/adsc/                                                       @istio/wg-networking-maintainers
/pkg/bootstrap/                                                  @istio/wg-networking-maintainers
/pkg/config/                                                     @istio/wg-networking-maintainers
/pkg/config/analysis/                                            @istio/wg-networking-maintainers @istio/wg-user-experience-maintainers
/pkg/dns/                                                        @istio/wg-networking-maintainers
/pkg/envoy/                                                      @istio/wg-networking-maintainers
/pkg/istio-agent/                                                @istio/wg-networking-maintainers @istio/wg-security-maintainers
/pkg/keepalive/                                                  @istio/wg-networking-maintainers
/pkg/monitoring/                                                 @istio/wg-networking-maintainers @istio/wg-policies-and-telemetry-maintainers
/pkg/kube/                                                       @istio/wg-networking-maintainers
/pkg/mcp/                                                        @istio/wg-networking-maintainers
/pkg/queue/                                                      @istio/wg-networking-maintainers
/pkg/security/                                                   @istio/wg-security-maintainers @istio/wg-environments-maintainers
/pkg/spiffe/                                                     @istio/wg-security-maintainers
/pkg/test/                                                       @istio/wg-test-and-release-maintainers
/pkg/fuzz/                                                       @istio/wg-test-and-release-maintainers
/pkg/tracing/                                                    @istio/wg-policies-and-telemetry-maintainers
/pkg/wasm/                                                       @istio/wg-policies-and-telemetry-maintainers
/pkg/webhooks/                                                   @istio/wg-environments-maintainers
/pkg/workloadapi/                                                @istio/wg-networking-maintainers
/prow/                                                           @istio/wg-test-and-release-maintainers
/release/                                                        @istio/wg-test-and-release-maintainers
/releasenotes/                                                   @istio/wg-test-and-release-maintainers
/releasenotes/notes
/samples/                                                        @istio/wg-docs-maintainers-english
/samples/addons                                                  @istio/wg-policies-and-telemetry-maintainers @istio/wg-environments-maintainers
/samples/ambient-argo                                            @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/samples/multicluster                                            @istio/wg-networking-maintainers
/security/                                                       @istio/wg-security-maintainers
/tests/                                                          @istio/wg-test-and-release-maintainers
/tests/integration/conformance/                                  @istio/wg-test-and-release-maintainers
/tests/integration/framework/                                    @istio/wg-test-and-release-maintainers
/tests/integration/galley/                                       @istio/wg-networking-maintainers
/tests/integration/telemetry/                                    @istio/wg-policies-and-telemetry-maintainers
/tests/integration/pilot/                                        @istio/wg-networking-maintainers
/tests/integration/qualification/                                @istio/wg-test-and-release-maintainers
/tests/integration/security/                                     @istio/wg-security-maintainers
/tests/integration/istioctl/                                     @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/tools/                                                          @istio/wg-test-and-release-maintainers
/tools/packaging/common/envoy_bootstrap.json                     @istio/wg-networking-maintainers
/tools/istio-iptables/                                           @istio/wg-networking-maintainers
architecture/ambient                                             @istio/wg-networking-maintainers-pilot @istio/wg-networking-maintainers-ztunnel
architecture/environments                                        @istio/wg-environments-maintainers
architecture/networking                                          @istio/wg-networking-maintainers
architecture/security                                            @istio/wg-security-maintainers
