Repository istio/istio, changes with the owners that CODEOWNERS names for each.
All owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers, @istio/wg-environments-maintainers, @istio/wg-networking-maintainers, @istio/wg-user-experience-maintainers, @istio/wg-security-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-policies-and-telemetry-maintainers, @istio/wg-docs-maintainers-english, @istio/wg-networking-maintainers-ztunnel

CODEOWNERS:

*                                                                @costinm @linsun @howardjohn @stevenctl @keithmattix @hzxuzhonghu
/.gitattributes                                                  @istio/wg-test-and-release-maintainers
/.gitignore                                                      @istio/wg-test-and-release-maintainers
/Makefile.core.mk                                                @istio/wg-test-and-release-maintainers
/bin/                                                            @istio/wg-test-and-release-maintainers
/cmd/istiod/                                                     @istio/wg-environments-maintainers
/cni/                                                            @istio/wg-networking-maintainers
/common/                                                         @istio/wg-test-and-release-maintainers
/common-protos/                                                  @istio/wg-test-and-release-maintainers
/install/                                                        @istio/wg-environments-maintainers
/istioctl/                                                       @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
Makefile*                                                        @istio/wg-test-and-release-maintainers
/manifests/                                                      @istio/wg-environments-maintainers
/operator/                                                       @istio/wg-environments-maintainers
/pilot/                                                          @istio/wg-networking-maintainers
/pilot/pkg/security/                                             @istio/wg-security-maintainers
/pilot/pkg/config/                                               @istio/wg-networking-maintainers
/pilot/pkg/networking/plugin/authn/                              @istio/wg-security-maintainers
/pilot/pkg/networking/plugin/authz/                              @istio/wg-security-maintainers
/pilot/pkg/serviceregistry/                                      @istio/wg-networking-maintainers-pilot
/pilot/pkg/model/                                                @istio/wg-networking-maintainers-pilot
/pilot/pkg/networking/core                                       @istio/wg-networking-maintainers-pilot
/pilot/pkg/proxy                                                 @istio/wg-networking-maintainers-pilot
/pkg/                                                            @istio/wg-test-and-release-maintainers
/pkg/adsc/                                                       @istio/wg-networking-maintainers
/pkg/bootstrap/                                                  @istio/wg-networking-maintainers
/pkg/config/                                                     @istio/wg-networking-maintainers
/pkg/config/analysis/                                            @istio/wg-networking-maintainers @istio/wg-user-experience-maintainers
/pkg/dns/                                                        @istio/wg-networking-maintainers
/pkg/envoy/                                                      @istio/wg-networking-maintainers
/pkg/istio-agent/                                                @istio/wg-networking-maintainers @istio/wg-security-maintainers
/pkg/keepalive/                                                  @istio/wg-networking-maintainers
/pkg/monitoring/                                                 @istio/wg-networking-maintainers @istio/wg-policies-and-telemetry-maintainers
/pkg/kube/                                                       @istio/wg-networking-maintainers
/pkg/mcp/                                                        @istio/wg-networking-maintainers
/pkg/queue/                                                      @istio/wg-networking-maintainers
/pkg/security/                                                   @istio/wg-security-maintainers @istio/wg-environments-maintainers
/pkg/spiffe/                                                     @istio/wg-security-maintainers
/pkg/test/                                                       @istio/wg-test-and-release-maintainers
/pkg/fuzz/                                                       @istio/wg-test-and-release-maintainers
/pkg/tracing/                                                    @istio/wg-policies-and-telemetry-maintainers
/pkg/wasm/                                                       @istio/wg-policies-and-telemetry-maintainers
/pkg/webhooks/                                                   @istio/wg-environments-maintainers
/pkg/workloadapi/                                                @istio/wg-networking-maintainers
/prow/                                                           @istio/wg-test-and-release-maintainers
/release/                                                        @istio/wg-test-and-release-maintainers
/releasenotes/                                                   @istio/wg-test-and-release-maintainers
/releasenotes/notes
/samples/                                                        @istio/wg-docs-maintainers-english
/samples/addons                                                  @istio/wg-policies-and-telemetry-maintainers @istio/wg-environments-maintainers
/samples/ambient-argo                                            @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/samples/multicluster                                            @istio/wg-networking-maintainers
/security/                                                       @istio/wg-security-maintainers
/tests/                                                          @istio/wg-test-and-release-maintainers
/tests/integration/conformance/                                  @istio/wg-test-and-release-maintainers
/tests/integration/framework/                                    @istio/wg-test-and-release-maintainers
/tests/integration/galley/                                       @istio/wg-networking-maintainers
/tests/integration/telemetry/                                    @istio/wg-policies-and-telemetry-maintainers
/tests/integration/pilot/                                        @istio/wg-networking-maintainers
/tests/integration/qualification/                                @istio/wg-test-and-release-maintainers
/tests/integration/security/                                     @istio/wg-security-maintainers
/tests/integration/istioctl/                                     @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/tools/                                                          @istio/wg-test-and-release-maintainers
/tools/packaging/common/envoy_bootstrap.json                     @istio/wg-networking-maintainers
/tools/istio-iptables/                                           @istio/wg-networking-maintainers
architecture/ambient                                             @istio/wg-networking-maintainers-pilot @istio/wg-networking-maintainers-ztunnel
architecture/environments                                        @istio/wg-environments-maintainers
architecture/networking                                          @istio/wg-networking-maintainers
architecture/security                                            @istio/wg-security-maintainers

initial impl + tests + validation
  pilot/pkg/model/authentication.go
  pilot/pkg/model/authentication_test.go
  pilot/pkg/model/authorization.go
  pilot/pkg/model/authorization_test.go
  pilot/pkg/model/extensions.go
  pilot/pkg/model/extensions_test.go
  pilot/pkg/model/policyattachment.go
  pilot/pkg/model/policyattachment_test.go
  pilot/pkg/model/push_context.go
  pilot/pkg/model/telemetry.go
  pkg/config/validation/validation.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers

test default deny for wl waypoints too
  tests/integration/ambient/baseline_test.go
Owners: @istio/wg-test-and-release-maintainers

HBONE: properly use HBONE when ISTIO_MUTUAL is explicitly set
  pilot/pkg/networking/core/cluster_tls.go
  pilot/pkg/xds/endpoints/endpoint_builder.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers

add e2e tests
  tests/integration/ambient/baseline_test.go
Owners: @istio/wg-test-and-release-maintainers

tests: use distroless for ambient helm upgrade test
  tests/integration/helm/upgrade/util.go
Owners: @istio/wg-test-and-release-maintainers

fix ut
  pkg/wasm/convert.go
Owners: @istio/wg-policies-and-telemetry-maintainers

[1.24] ambient: fix ingress-use-waypoint with ServiceEntry (#54765) (#54822)
  pilot/pkg/model/service.go
  pilot/pkg/xds/endpoints/endpoint_builder.go
  pilot/pkg/xds/waypoint_test.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers

release note
  releasenotes/notes/54909.yaml
Owners: none

Set topology.istio.io/network label on networkGateway pods (#54907)
  manifests/charts/gateway/templates/deployment.yaml
  releasenotes/notes/54909.yaml
Owners: @istio/wg-environments-maintainers

fix releasenotes - area
  releasenotes/notes/54892.yaml
Owners: none

gateway: respect stripping metadata exchange headers
  pilot/pkg/networking/core/gateway.go
Owners: @istio/wg-networking-maintainers-pilot

Initial implementation of L4 policies for waypoints
  pilot/pkg/features/ambient.go
  pilot/pkg/networking/core/listener_waypoint.go
  pilot/pkg/networking/plugin/authz/authorization.go
  pilot/pkg/security/authz/builder/builder.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-security-maintainers

off by default
  pilot/pkg/features/ambient.go
Owners: @istio/wg-networking-maintainers

Move out builder
  pilot/pkg/networking/plugin/authz/authorization.go
  pilot/pkg/security/authz/builder/builder.go
Owners: @istio/wg-security-maintainers

address comments
  pilot/pkg/networking/plugin/authz/authorization.go
  pilot/pkg/security/authz/builder/builder.go
Owners: @istio/wg-security-maintainers

gateway: respect stripping metadata exchange headers (#54922)
  pilot/pkg/networking/core/gateway.go
Owners: @istio/wg-networking-maintainers-pilot

Initial implementation of L4 policies for waypoints (#54833)
  pilot/pkg/features/ambient.go
  pilot/pkg/networking/core/listener_waypoint.go
  pilot/pkg/networking/plugin/authz/authorization.go
  pilot/pkg/security/authz/builder/builder.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-security-maintainers

[release-1.25] initial impl for targetRef=gwclass policy attachment (#54910)
  pilot/pkg/model/authentication.go
  pilot/pkg/model/authentication_test.go
  pilot/pkg/model/authorization_test.go
  pilot/pkg/model/extensions_test.go
  pilot/pkg/model/policyattachment.go
  pilot/pkg/model/policyattachment_test.go
  pilot/pkg/model/push_context.go
  pilot/pkg/model/telemetry.go
  pilot/pkg/networking/plugin/authz/authorization.go
  pkg/config/validation/validation.go
  releasenotes/notes/54780.yaml
  tests/integration/ambient/baseline_test.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-security-maintainers, @istio/wg-networking-maintainers, @istio/wg-test-and-release-maintainers

Fix reset for hboneTerminationAccessLog (#54887)
  pilot/pkg/networking/core/accesslog.go
Owners: @istio/wg-networking-maintainers-pilot

address comments
  pilot/pkg/networking/plugin/authz/authorization.go
  pilot/pkg/security/authz/builder/builder.go
Owners: @istio/wg-security-maintainers

off by default
  pilot/pkg/features/ambient.go
Owners: @istio/wg-networking-maintainers

Initial implementation of L4 policies for waypoints
  pilot/pkg/features/ambient.go
  pilot/pkg/networking/core/listener_waypoint.go
  pilot/pkg/networking/plugin/authz/authorization.go
  pilot/pkg/security/authz/builder/builder.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-security-maintainers

Move out builder
  pilot/pkg/networking/plugin/authz/authorization.go
  pilot/pkg/security/authz/builder/builder.go
Owners: @istio/wg-security-maintainers

[release-1.25] Initial implementation of L4 policies for waypoints (#54925)
  pilot/pkg/features/ambient.go
  pilot/pkg/networking/core/listener_waypoint.go
  pilot/pkg/networking/plugin/authz/authorization.go
  pilot/pkg/security/authz/builder/builder.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-security-maintainers

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@master in istio/istio@master (#54927)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update ztunnel@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update ztunnel@master in istio/istio@master (#54928)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

only dedupe envoy filter clusters (#54614)
  pilot/pkg/networking/core/cluster.go
  pilot/pkg/networking/core/cluster_builder.go
Owners: @istio/wg-networking-maintainers-pilot

add vh name in testcases
  pilot/pkg/networking/core/envoyfilter/rc_patch_test.go
Owners: @istio/wg-networking-maintainers-pilot

fix validation message suggesting deprecated feature
  pkg/config/validation/validation.go
Owners: @istio/wg-networking-maintainers

Automator: update istio/client-go@master dependency in istio/istio@master
  go.mod
  go.sum
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update istio/client-go@master dependency in istio/istio@master (#54933)
  go.mod
  go.sum
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

fix validation message suggesting deprecated feature (#54931)
  pkg/config/validation/validation.go
Owners: @istio/wg-networking-maintainers

fix validation message suggesting deprecated feature
  pkg/config/validation/validation.go
Owners: @istio/wg-networking-maintainers

Implement pod-level DNS inclusion/exclusion
  cni/pkg/iptables/common_test.go
  cni/pkg/iptables/iptables.go
  cni/pkg/nodeagent/net.go
  cni/pkg/nodeagent/net_test.go
  cni/pkg/util/podutil.go
  releasenotes/notes/54935.yaml
Owners: @istio/wg-networking-maintainers

Goldens + some of these tests aren't relevant
  cni/pkg/iptables/common_test.go
  cni/pkg/iptables/testdata/dns_pod_disabled_and_on_globally.golden
  cni/pkg/iptables/testdata/dns_pod_disabled_and_on_globally_ipv6.golden
  cni/pkg/iptables/testdata/dns_pod_enabled_and_off_globally.golden
  cni/pkg/iptables/testdata/dns_pod_enabled_and_off_globally_ipv6.golden
Owners: @istio/wg-networking-maintainers

Implement ambient pod-level DNS inclusion/exclusion (#54935)
  cni/pkg/iptables/common_test.go
  cni/pkg/iptables/iptables.go
  cni/pkg/iptables/testdata/dns_pod_disabled_and_on_globally.golden
  cni/pkg/iptables/testdata/dns_pod_disabled_and_on_globally_ipv6.golden
  cni/pkg/iptables/testdata/dns_pod_enabled_and_off_globally.golden
  cni/pkg/iptables/testdata/dns_pod_enabled_and_off_globally_ipv6.golden
  cni/pkg/nodeagent/net.go
  cni/pkg/nodeagent/net_test.go
  cni/pkg/util/podutil.go
  releasenotes/notes/54935.yaml
Owners: @istio/wg-networking-maintainers

Implement pod-level DNS inclusion/exclusion
  cni/pkg/iptables/common_test.go
  cni/pkg/iptables/iptables.go
  cni/pkg/nodeagent/net.go
  cni/pkg/nodeagent/net_test.go
  cni/pkg/util/podutil.go
  releasenotes/notes/54935.yaml
Owners: @istio/wg-networking-maintainers

Goldens + some of these tests aren't relevant
  cni/pkg/iptables/common_test.go
  cni/pkg/iptables/testdata/dns_pod_disabled_and_on_globally.golden
  cni/pkg/iptables/testdata/dns_pod_disabled_and_on_globally_ipv6.golden
  cni/pkg/iptables/testdata/dns_pod_enabled_and_off_globally.golden
  cni/pkg/iptables/testdata/dns_pod_enabled_and_off_globally_ipv6.golden
Owners: @istio/wg-networking-maintainers
