Repository istio/istio, changes with the owners that CODEOWNERS names for each.
All owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers, @istio/wg-environments-maintainers, @istio/wg-networking-maintainers, @istio/wg-user-experience-maintainers, @istio/wg-security-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-policies-and-telemetry-maintainers, @istio/wg-docs-maintainers-english, @istio/wg-networking-maintainers-ztunnel

CODEOWNERS:

*                                                                @costinm @linsun @howardjohn @stevenctl @keithmattix @hzxuzhonghu
/.gitattributes                                                  @istio/wg-test-and-release-maintainers
/.gitignore                                                      @istio/wg-test-and-release-maintainers
/Makefile.core.mk                                                @istio/wg-test-and-release-maintainers
/bin/                                                            @istio/wg-test-and-release-maintainers
/cmd/istiod/                                                     @istio/wg-environments-maintainers
/cni/                                                            @istio/wg-networking-maintainers
/common/                                                         @istio/wg-test-and-release-maintainers
/common-protos/                                                  @istio/wg-test-and-release-maintainers
/install/                                                        @istio/wg-environments-maintainers
/istioctl/                                                       @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
Makefile*                                                        @istio/wg-test-and-release-maintainers
/manifests/                                                      @istio/wg-environments-maintainers
/operator/                                                       @istio/wg-environments-maintainers
/pilot/                                                          @istio/wg-networking-maintainers
/pilot/pkg/security/                                             @istio/wg-security-maintainers
/pilot/pkg/config/                                               @istio/wg-networking-maintainers
/pilot/pkg/networking/plugin/authn/                              @istio/wg-security-maintainers
/pilot/pkg/networking/plugin/authz/                              @istio/wg-security-maintainers
/pilot/pkg/serviceregistry/                                      @istio/wg-networking-maintainers-pilot
/pilot/pkg/model/                                                @istio/wg-networking-maintainers-pilot
/pilot/pkg/networking/core                                       @istio/wg-networking-maintainers-pilot
/pilot/pkg/proxy                                                 @istio/wg-networking-maintainers-pilot
/pkg/                                                            @istio/wg-test-and-release-maintainers
/pkg/adsc/                                                       @istio/wg-networking-maintainers
/pkg/bootstrap/                                                  @istio/wg-networking-maintainers
/pkg/config/                                                     @istio/wg-networking-maintainers
/pkg/config/analysis/                                            @istio/wg-networking-maintainers @istio/wg-user-experience-maintainers
/pkg/dns/                                                        @istio/wg-networking-maintainers
/pkg/envoy/                                                      @istio/wg-networking-maintainers
/pkg/istio-agent/                                                @istio/wg-networking-maintainers @istio/wg-security-maintainers
/pkg/keepalive/                                                  @istio/wg-networking-maintainers
/pkg/monitoring/                                                 @istio/wg-networking-maintainers @istio/wg-policies-and-telemetry-maintainers
/pkg/kube/                                                       @istio/wg-networking-maintainers
/pkg/mcp/                                                        @istio/wg-networking-maintainers
/pkg/queue/                                                      @istio/wg-networking-maintainers
/pkg/security/                                                   @istio/wg-security-maintainers @istio/wg-environments-maintainers
/pkg/spiffe/                                                     @istio/wg-security-maintainers
/pkg/test/                                                       @istio/wg-test-and-release-maintainers
/pkg/fuzz/                                                       @istio/wg-test-and-release-maintainers
/pkg/tracing/                                                    @istio/wg-policies-and-telemetry-maintainers
/pkg/wasm/                                                       @istio/wg-policies-and-telemetry-maintainers
/pkg/webhooks/                                                   @istio/wg-environments-maintainers
/pkg/workloadapi/                                                @istio/wg-networking-maintainers
/prow/                                                           @istio/wg-test-and-release-maintainers
/release/                                                        @istio/wg-test-and-release-maintainers
/releasenotes/                                                   @istio/wg-test-and-release-maintainers
/releasenotes/notes
/samples/                                                        @istio/wg-docs-maintainers-english
/samples/addons                                                  @istio/wg-policies-and-telemetry-maintainers @istio/wg-environments-maintainers
/samples/ambient-argo                                            @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/samples/multicluster                                            @istio/wg-networking-maintainers
/security/                                                       @istio/wg-security-maintainers
/tests/                                                          @istio/wg-test-and-release-maintainers
/tests/integration/conformance/                                  @istio/wg-test-and-release-maintainers
/tests/integration/framework/                                    @istio/wg-test-and-release-maintainers
/tests/integration/galley/                                       @istio/wg-networking-maintainers
/tests/integration/telemetry/                                    @istio/wg-policies-and-telemetry-maintainers
/tests/integration/pilot/                                        @istio/wg-networking-maintainers
/tests/integration/qualification/                                @istio/wg-test-and-release-maintainers
/tests/integration/security/                                     @istio/wg-security-maintainers
/tests/integration/istioctl/                                     @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/tools/                                                          @istio/wg-test-and-release-maintainers
/tools/packaging/common/envoy_bootstrap.json                     @istio/wg-networking-maintainers
/tools/istio-iptables/                                           @istio/wg-networking-maintainers
architecture/ambient                                             @istio/wg-networking-maintainers-pilot @istio/wg-networking-maintainers-ztunnel
architecture/environments                                        @istio/wg-environments-maintainers
architecture/networking                                          @istio/wg-networking-maintainers
architecture/security                                            @istio/wg-security-maintainers

Automator: update proxy@master in istio/istio@master (#54778)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Allow SIMPLE TLS origination without secret read acces (#54732)
  pilot/pkg/xds/sds.go
  pilot/pkg/xds/sds_test.go
Owners: @istio/wg-networking-maintainers

ignore route matchers with sourceLabels in waypoints (#54775)
  pilot/pkg/networking/core/listener_waypoint.go
  releasenotes/notes/51565-waypoint-sourcelabels.yaml
Owners: @istio/wg-networking-maintainers-pilot

Include krtz in bug-report (#54769)
  tools/bug-report/pkg/common/common.go
Owners: @istio/wg-test-and-release-maintainers

fix: issue template
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

more docs
  pkg/config/mesh/meshwatcher/mesh_test.go
  pkg/kube/krt/files/collection.go
  pkg/test/util/assert/tracker.go
Owners: @istio/wg-networking-maintainers, @istio/wg-test-and-release-maintainers

wip
  pkg/config/mesh/collection.go
  pkg/config/mesh/kubemesh/watcher.go
  pkg/config/mesh/kubemesh/watcher_test.go
  pkg/kube/krt/fetch.go
Owners: @istio/wg-networking-maintainers

seems to be goodish
  pkg/config/mesh/kubemesh/watcher_test.go
Owners: @istio/wg-networking-maintainers

wip
  pilot/pkg/bootstrap/mesh.go
  pkg/config/mesh/collection.go
  pkg/config/mesh/kubemesh/watcher.go
  pkg/config/mesh/mesh.go
  pkg/config/mesh/networks_watcher.go
  pkg/config/mesh/watcher.go
  pkg/config/mesh/watcher_test.go
  pkg/kube/krt/conformance_test.go
  pkg/kube/krt/files/collection.go
  pkg/kube/krt/files/collection_test.go
  pkg/kube/krt/internal.go
  pkg/kube/krt/singleton.go
Owners: @istio/wg-networking-maintainers

wonky
  pilot/pkg/bootstrap/mesh.go
  pkg/config/mesh/kubemesh/watcher_test.go
  pkg/config/mesh/meshwatcher/collection.go
  pkg/config/mesh/meshwatcher/mesh_test.go
  pkg/config/mesh/meshwatcher/networks_test.go
Owners: @istio/wg-networking-maintainers

fixup all issues
  pkg/config/mesh/meshwatcher/collection.go
  pkg/config/mesh/meshwatcher/mesh_test.go
  pkg/kube/krt/collection.go
  pkg/kube/krt/collection_test.go
  pkg/kube/krt/fetch.go
  pkg/test/util/assert/tracker.go
Owners: @istio/wg-networking-maintainers, @istio/wg-test-and-release-maintainers

wip
  pkg/config/mesh/collection.go
  pkg/config/mesh/kubemesh/watcher_test.go
Owners: @istio/wg-networking-maintainers

fix tests
  pilot/pkg/config/kube/ingress/controller_test.go
  pilot/pkg/serviceregistry/kube/controller/controller_test.go
  pilot/pkg/serviceregistry/kube/controller/namespacecontroller_test.go
  pkg/config/mesh/meshwatcher/collection.go
  pkg/config/mesh/meshwatcher/watcher_test_utils.go
  pkg/kube/kclient/client_test.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot

wip
  pkg/config/mesh/collection.go
  pkg/config/mesh/kubemesh/watcher_test.go
  pkg/config/mesh/networks_watcher_test.go
  pkg/config/mesh/watcher_test.go
  pkg/kube/krt/collection.go
  pkg/kube/krt/conformance_test.go
  pkg/kube/krt/core.go
  pkg/kube/krt/internal.go
  pkg/kube/krt/testing.go
Owners: @istio/wg-networking-maintainers

wip
  pilot/pkg/bootstrap/mesh.go
  pkg/config/mesh/collection.go
  pkg/config/mesh/kubemesh/watcher.go
  pkg/config/mesh/kubemesh/watcher_test.go
  pkg/config/mesh/leak_test.go
  pkg/config/mesh/networks_watcher.go
  pkg/config/mesh/networks_watcher_test.go
  pkg/config/mesh/watcher.go
  pkg/config/mesh/watcher_test_utils.go
Owners: @istio/wg-networking-maintainers

wip
  pilot/pkg/model/context.go
  pilot/pkg/model/push_context.go
  pilot/pkg/networking/core/sidecar_simulation_test.go
  pilot/pkg/serviceregistry/kube/controller/ambient/ambientindex.go
  pilot/pkg/serviceregistry/kube/controller/ambient/meshconfig.go
  pilot/pkg/serviceregistry/kube/controller/controller.go
  pilot/pkg/serviceregistry/kube/controller/fake.go
  pkg/config/mesh/kubemesh/watcher.go
  pkg/config/mesh/kubemesh/watcher_test.go
  pkg/config/mesh/meshwatcher/mesh.go
  pkg/kube/krt/files/collection.go
  pkg/kube/util.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers

clean
  pilot/pkg/serviceregistry/kube/controller/ambient/ambientindex.go
  pilot/pkg/serviceregistry/kube/controller/ambient/meshconfig.go
Owners: @istio/wg-networking-maintainers-pilot

working
  pilot/pkg/serviceregistry/kube/controller/ambient/ambientindex.go
  pilot/pkg/serviceregistry/kube/controller/ambient/ambientindex_test.go
  pkg/config/mesh/meshwatcher/watcher_test_utils.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers

lint
  pkg/config/mesh/meshwatcher/collection.go
  pkg/config/mesh/watchers.go
  pkg/kube/krt/files/collection.go
  pkg/kube/krt/files/collection_test.go
Owners: @istio/wg-networking-maintainers

more docs
  pkg/kube/krt/core.go
Owners: @istio/wg-networking-maintainers

wip
  pilot/pkg/serviceregistry/kube/controller/ambient/ambientindex.go
  pkg/kube/krt/collection.go
  pkg/kube/krt/options.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers

new options builder
  pilot/pkg/serviceregistry/kube/controller/ambient/authorization_test.go
  pilot/pkg/serviceregistry/kube/controller/ambient/policies.go
  pilot/pkg/serviceregistry/kube/controller/ambient/services.go
  pilot/pkg/serviceregistry/kube/controller/ambient/sidecar_interop.go
  pilot/pkg/serviceregistry/kube/controller/ambient/waypoints.go
  pilot/pkg/serviceregistry/kube/controller/ambient/workloads.go
  pkg/kube/krt/collection_test.go
  pkg/kube/krt/index_test.go
  pkg/kube/krt/informer_test.go
  pkg/kube/krt/join_test.go
  pkg/kube/krt/options.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers

new global opts
  pilot/pkg/bootstrap/mesh.go
  pilot/pkg/bootstrap/options.go
  pilot/pkg/bootstrap/server.go
  pilot/pkg/bootstrap/servicecontroller.go
  pilot/pkg/serviceregistry/kube/controller/controller.go
  pilot/pkg/xds/debug.go
  pilot/pkg/xds/discovery.go
  pilot/test/xds/fake.go
  pkg/config/mesh/kubemesh/watcher.go
  pkg/config/mesh/kubemesh/watcher_test.go
  pkg/config/mesh/meshwatcher/collection.go
  pkg/config/mesh/meshwatcher/mesh_test.go
  pkg/config/mesh/meshwatcher/networks_test.go
  pkg/kube/krt/collection.go
  pkg/kube/krt/conformance_test.go
  pkg/kube/krt/files.go
  pkg/kube/krt/index_test.go
  pkg/kube/krt/internal.go
  pkg/kube/krt/krttest/helpers.go
  pkg/kube/krt/options.go
  pkg/kube/krt/singleton.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot

cleanup
  pilot/pkg/config/kube/ingress/controller_test.go
  pilot/pkg/config/kube/ingress/status_test.go
  pilot/pkg/model/authentication_test.go
  pilot/pkg/model/authorization_test.go
  pilot/pkg/model/cluster_local_test.go
  pilot/pkg/model/context.go
  pilot/pkg/model/push_context_test.go
  pilot/pkg/model/sidecar_test.go
  pilot/pkg/model/telemetry_test.go
  pilot/pkg/networking/core/accesslog_test.go
  pilot/pkg/networking/core/envoyfilter/listener_patch_test.go
  pilot/pkg/networking/core/fake.go
  pilot/pkg/networking/core/loadbalancer/loadbalancer_test.go
  pilot/pkg/serviceregistry/kube/controller/ambient/ambientindex_test.go
  pilot/pkg/serviceregistry/kube/controller/autoserviceexportcontroller_test.go
  pilot/pkg/serviceregistry/kube/controller/controller_test.go
  pilot/pkg/serviceregistry/kube/controller/endpoint_builder_test.go
  pilot/pkg/serviceregistry/kube/controller/fake.go
  pilot/pkg/serviceregistry/kube/controller/multicluster_test.go
  pilot/pkg/serviceregistry/kube/controller/namespacecontroller_test.go
  pilot/pkg/serviceregistry/kube/controller/network_test.go
  pilot/pkg/serviceregistry/serviceentry/controller_test.go
  pilot/pkg/serviceregistry/serviceentry/conversion_test.go
  pilot/pkg/serviceregistry/serviceregistry_test.go
  pilot/pkg/trustbundle/trustbundle_test.go
  pilot/pkg/xds/eds_sh_test.go
  pilot/pkg/xds/endpoints/endpoint_builder_test.go
  pilot/test/xds/fake.go
  pkg/config/mesh/meshwatcher/collection.go
  pkg/config/mesh/meshwatcher/mesh.go
  pkg/config/mesh/meshwatcher/watcher_test_utils.go
  pkg/kube/inject/webhook_test.go
  pkg/kube/kclient/client_test.go
  pkg/kube/multicluster/secretcontroller_test.go
  security/pkg/server/ca/authenticate/oidc_test.go
  tests/fuzz/pilot_model_fuzzer.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-security-maintainers, @istio/wg-test-and-release-maintainers

nit
  pkg/kube/krt/collection.go
Owners: @istio/wg-networking-maintainers

lint
  pilot/pkg/bootstrap/mesh.go
  pilot/pkg/serviceregistry/kube/controller/ambient/workloads_test.go
  pkg/config/mesh/meshwatcher/collection.go
  pkg/kube/krt/collection.go
  pkg/kube/krt/conformance_test.go
  pkg/kube/krt/informer.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot

lint
  pkg/kube/krt/options.go
Owners: @istio/wg-networking-maintainers

address comments
  pilot/pkg/bootstrap/mesh.go
  pilot/pkg/bootstrap/options.go
  pilot/pkg/serviceregistry/kube/controller/ambient/ambientindex.go
  pkg/config/mesh/kubemesh/watcher.go
  pkg/config/mesh/meshwatcher/collection.go
  pkg/config/mesh/meshwatcher/mesh.go
  pkg/kube/krt/collection.go
  pkg/kube/krt/collection_test.go
  pkg/kube/krt/conformance_test.go
  pkg/kube/krt/index_test.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot

add release notes
  releasenotes/notes/54644.yaml
Owners: none

lint release note
  releasenotes/notes/54644.yaml
Owners: none

minor fixes
  tools/istio-iptables/pkg/dependencies/implementation_linux.go
  tools/istio-iptables/pkg/dependencies/implementation_unspecified.go
  tools/istio-iptables/pkg/dependencies/stub.go
Owners: @istio/wg-networking-maintainers

address comments
  pilot/pkg/bootstrap/mesh.go
  pilot/pkg/model/push_context.go
  pilot/pkg/serviceregistry/kube/controller/ambient/networks.go
  pilot/pkg/serviceregistry/kube/controller/ambient/workloads_test.go
  pkg/config/mesh/kubemesh/watcher_test.go
  pkg/config/mesh/meshwatcher/mesh_test.go
  pkg/config/mesh/meshwatcher/networks.go
  pkg/config/mesh/meshwatcher/networks_test.go
  pkg/kube/krt/collection.go
  pkg/kube/krt/collection_test.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot

Update crd-all.gen.yaml
  manifests/charts/base/files/crd-all.gen.yaml
Owners: @istio/wg-environments-maintainers

ambient: refactor internal transports
  pilot/pkg/networking/core/cluster_tls.go
  pilot/pkg/networking/core/cluster_waypoint.go
  pilot/pkg/networking/util/internal_upstream.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers

ambient: fix ingress-use-waypoint with ServiceEntry
  pilot/pkg/model/service.go
  pilot/pkg/serviceregistry/kube/controller/ambient/services.go
  pilot/pkg/xds/endpoints/endpoint_builder.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers

add e2e test
  pilot/pkg/model/service.go
  pilot/pkg/serviceregistry/kube/controller/ambient/ambientindex.go
  pilot/pkg/xds/waypoint_test.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers

Use resolv.conf for getting the zone
  pkg/bootstrap/platform/gcp.go
  pkg/bootstrap/platform/gcp_test.go
Owners: @istio/wg-networking-maintainers

remove the debugging log
  pkg/bootstrap/platform/gcp.go
Owners: @istio/wg-networking-maintainers

Automator: update common-files@master in istio/istio@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu
