Repository istio/istio, changes with the owners that CODEOWNERS names for each.
All owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers, @istio/wg-environments-maintainers, @istio/wg-networking-maintainers, @istio/wg-user-experience-maintainers, @istio/wg-security-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-policies-and-telemetry-maintainers, @istio/wg-docs-maintainers-english, @istio/wg-networking-maintainers-ztunnel

CODEOWNERS:

*                                                                @costinm @linsun @howardjohn @stevenctl @keithmattix @hzxuzhonghu
/.gitattributes                                                  @istio/wg-test-and-release-maintainers
/.gitignore                                                      @istio/wg-test-and-release-maintainers
/Makefile.core.mk                                                @istio/wg-test-and-release-maintainers
/bin/                                                            @istio/wg-test-and-release-maintainers
/cmd/istiod/                                                     @istio/wg-environments-maintainers
/cni/                                                            @istio/wg-networking-maintainers
/common/                                                         @istio/wg-test-and-release-maintainers
/common-protos/                                                  @istio/wg-test-and-release-maintainers
/install/                                                        @istio/wg-environments-maintainers
/istioctl/                                                       @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
Makefile*                                                        @istio/wg-test-and-release-maintainers
/manifests/                                                      @istio/wg-environments-maintainers
/operator/                                                       @istio/wg-environments-maintainers
/pilot/                                                          @istio/wg-networking-maintainers
/pilot/pkg/security/                                             @istio/wg-security-maintainers
/pilot/pkg/config/                                               @istio/wg-networking-maintainers
/pilot/pkg/networking/plugin/authn/                              @istio/wg-security-maintainers
/pilot/pkg/networking/plugin/authz/                              @istio/wg-security-maintainers
/pilot/pkg/serviceregistry/                                      @istio/wg-networking-maintainers-pilot
/pilot/pkg/model/                                                @istio/wg-networking-maintainers-pilot
/pilot/pkg/networking/core                                       @istio/wg-networking-maintainers-pilot
/pilot/pkg/proxy                                                 @istio/wg-networking-maintainers-pilot
/pkg/                                                            @istio/wg-test-and-release-maintainers
/pkg/adsc/                                                       @istio/wg-networking-maintainers
/pkg/bootstrap/                                                  @istio/wg-networking-maintainers
/pkg/config/                                                     @istio/wg-networking-maintainers
/pkg/config/analysis/                                            @istio/wg-networking-maintainers @istio/wg-user-experience-maintainers
/pkg/dns/                                                        @istio/wg-networking-maintainers
/pkg/envoy/                                                      @istio/wg-networking-maintainers
/pkg/istio-agent/                                                @istio/wg-networking-maintainers @istio/wg-security-maintainers
/pkg/keepalive/                                                  @istio/wg-networking-maintainers
/pkg/monitoring/                                                 @istio/wg-networking-maintainers @istio/wg-policies-and-telemetry-maintainers
/pkg/kube/                                                       @istio/wg-networking-maintainers
/pkg/mcp/                                                        @istio/wg-networking-maintainers
/pkg/queue/                                                      @istio/wg-networking-maintainers
/pkg/security/                                                   @istio/wg-security-maintainers @istio/wg-environments-maintainers
/pkg/spiffe/                                                     @istio/wg-security-maintainers
/pkg/test/                                                       @istio/wg-test-and-release-maintainers
/pkg/fuzz/                                                       @istio/wg-test-and-release-maintainers
/pkg/tracing/                                                    @istio/wg-policies-and-telemetry-maintainers
/pkg/wasm/                                                       @istio/wg-policies-and-telemetry-maintainers
/pkg/webhooks/                                                   @istio/wg-environments-maintainers
/pkg/workloadapi/                                                @istio/wg-networking-maintainers
/prow/                                                           @istio/wg-test-and-release-maintainers
/release/                                                        @istio/wg-test-and-release-maintainers
/releasenotes/                                                   @istio/wg-test-and-release-maintainers
/releasenotes/notes
/samples/                                                        @istio/wg-docs-maintainers-english
/samples/addons                                                  @istio/wg-policies-and-telemetry-maintainers @istio/wg-environments-maintainers
/samples/ambient-argo                                            @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/samples/multicluster                                            @istio/wg-networking-maintainers
/security/                                                       @istio/wg-security-maintainers
/tests/                                                          @istio/wg-test-and-release-maintainers
/tests/integration/conformance/                                  @istio/wg-test-and-release-maintainers
/tests/integration/framework/                                    @istio/wg-test-and-release-maintainers
/tests/integration/galley/                                       @istio/wg-networking-maintainers
/tests/integration/telemetry/                                    @istio/wg-policies-and-telemetry-maintainers
/tests/integration/pilot/                                        @istio/wg-networking-maintainers
/tests/integration/qualification/                                @istio/wg-test-and-release-maintainers
/tests/integration/security/                                     @istio/wg-security-maintainers
/tests/integration/istioctl/                                     @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/tools/                                                          @istio/wg-test-and-release-maintainers
/tools/packaging/common/envoy_bootstrap.json                     @istio/wg-networking-maintainers
/tools/istio-iptables/                                           @istio/wg-networking-maintainers
architecture/ambient                                             @istio/wg-networking-maintainers-pilot @istio/wg-networking-maintainers-ztunnel
architecture/environments                                        @istio/wg-environments-maintainers
architecture/networking                                          @istio/wg-networking-maintainers
architecture/security                                            @istio/wg-security-maintainers

fix(virtualservice): Ensure hostnames are not resolved as shortnames for Ingress, Gateway API converted VirtualServices
  pilot/pkg/model/virtualservice.go
Owners: @istio/wg-networking-maintainers-pilot

Automator: update proxy@release-1.22 in istio/istio@release-1.22
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@release-1.22 in istio/istio@release-1.22 (#54860)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

remove default retry feature flag for inbound
  pilot/pkg/features/pilot.go
  pilot/pkg/networking/core/route/route.go
  pilot/pkg/networking/core/route/route_test.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot

remove unsafe 503 feature flag
  pilot/pkg/features/pilot.go
  pilot/pkg/networking/core/route/retry/retry.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot

fix missing analyze messages in multi-cluster scenario
  pkg/config/analysis/diag/message.go
Owners: @istio/wg-networking-maintainers, @istio/wg-user-experience-maintainers

update ut
  istioctl/pkg/util/formatting/formatter_test.go
  pkg/config/analysis/diag/helper.go
  pkg/config/analysis/diag/message.go
  pkg/config/analysis/diag/message_test.go
Owners: @istio/wg-user-experience-maintainers, @istio/wg-networking-maintainers

Automator: update proxy@release-1.24 in istio/istio@release-1.24
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@release-1.24 in istio/istio@release-1.24 (#54866)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

print cluster info only for multi-cluster
  istioctl/pkg/util/formatting/formatter.go
  istioctl/pkg/util/formatting/formatter_test.go
  pkg/config/analysis/diag/helper.go
  pkg/config/analysis/diag/message.go
  pkg/config/analysis/diag/message_test.go
  pkg/config/analysis/diag/messages.go
Owners: @istio/wg-user-experience-maintainers, @istio/wg-networking-maintainers

refactor multi cluster check logic
  istioctl/pkg/analyze/analyze.go
  istioctl/pkg/util/formatting/formatter.go
  istioctl/pkg/util/formatting/formatter_test.go
Owners: @istio/wg-user-experience-maintainers, @istio/wg-networking-maintainers

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

chore: update `.gitignore`
  .gitignore
Owners: @istio/wg-test-and-release-maintainers

feat: add make command for coverage
  Makefile.overrides.mk
Owners: @istio/wg-test-and-release-maintainers

fix: use prow instead of gha
  .github/workflows/coverage.yaml
  prow/config/coverage.yaml
  prow/coverage.sh
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers

fix: fix path
  Makefile.overrides.mk
Owners: @istio/wg-test-and-release-maintainers

feat: add workflow of coverage
  .github/workflows/coverage.yaml
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

chore: remove unnecessary file
  prow/config/coverage.yaml
Owners: @istio/wg-test-and-release-maintainers

fix: remove threshold handling
  prow/coverage.sh
Owners: @istio/wg-test-and-release-maintainers

fix: handle output with
  Makefile.overrides.mk
  prow/coverage.sh
Owners: @istio/wg-test-and-release-maintainers

Bump golang.org/x/net to v0.33.0 (#54816)
  go.mod
  go.sum
  licenses/golang.org/x/crypto/LICENSE
  licenses/golang.org/x/net/LICENSE
  licenses/golang.org/x/sync/LICENSE
  licenses/golang.org/x/sys/LICENSE
  licenses/golang.org/x/term/LICENSE
  licenses/golang.org/x/text/LICENSE
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

fix missing analysis messages in multi-cluster scenario (#54864)
  istioctl/pkg/analyze/analyze.go
  istioctl/pkg/util/formatting/formatter_test.go
  pkg/config/analysis/diag/helper.go
  pkg/config/analysis/diag/message.go
  pkg/config/analysis/diag/message_test.go
  pkg/config/analysis/diag/messages.go
Owners: @istio/wg-user-experience-maintainers, @istio/wg-networking-maintainers

Automator: update proxy@release-1.24 in istio/istio@release-1.24
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@release-1.24 in istio/istio@release-1.24 (#54871)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Fix TestTlsGatewaysWithQUIC security test on Openshift
  pkg/test/framework/components/istio/config.go
  tests/integration/iop-integration-test-defaults-with-quic.yaml
  tests/integration/security/sds_ingress/util/util.go
Owners: @istio/wg-test-and-release-maintainers, @istio/wg-security-maintainers

addons: Bump addons version
  manifests/addons/gen.sh
  samples/addons/kiali.yaml
  samples/addons/loki.yaml
  samples/addons/prometheus.yaml
Owners: @istio/wg-environments-maintainers, @istio/wg-policies-and-telemetry-maintainers

Fix TestCNIRaceRepair test for Openshift (#54581)
  tests/integration/ambient/util.go
  tests/integration/pilot/cni_race_test.go
Owners: @istio/wg-test-and-release-maintainers, @istio/wg-networking-maintainers

addons: Bump addons version
  manifests/addons/gen.sh
  samples/addons/kiali.yaml
  samples/addons/loki.yaml
  samples/addons/prometheus.yaml
Owners: @istio/wg-environments-maintainers, @istio/wg-policies-and-telemetry-maintainers

Automator: update proxy@release-1.24 in istio/istio@release-1.24
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@release-1.24 in istio/istio@release-1.24 (#54879)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

[release-1.24] Add tagged gateways to status and XDS (#54855)
  pilot/pkg/bootstrap/configcontroller.go
  pilot/pkg/bootstrap/options.go
  pilot/pkg/config/kube/crdclient/client.go
  pilot/pkg/config/kube/gateway/controller.go
  pilot/pkg/config/kube/gateway/controller_test.go
  pilot/pkg/config/kube/gateway/deploymentcontroller.go
  pilot/pkg/model/push_context.go
  pkg/config/model.go
  pkg/revisions/leak_test.go
  pkg/revisions/tag_watcher.go
  releasenotes/notes/54458.yaml
  tests/integration/pilot/gateway_test.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-test-and-release-maintainers

Automator: update proxy@master in istio/istio@master (#54867)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

initial impl + tests + validation
  pilot/pkg/model/authentication.go
  pilot/pkg/model/authentication_test.go
  pilot/pkg/model/authorization.go
  pilot/pkg/model/authorization_test.go
  pilot/pkg/model/extensions.go
  pilot/pkg/model/extensions_test.go
  pilot/pkg/model/policyattachment.go
  pilot/pkg/model/policyattachment_test.go
  pilot/pkg/model/push_context.go
  pilot/pkg/model/telemetry.go
  pkg/config/validation/validation.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers

release note and integration test
  releasenotes/notes/54780.yaml
  tests/integration/ambient/baseline_test.go
Owners: @istio/wg-test-and-release-maintainers

move RootNamespace to WorkloadPolicyMatcher
  pilot/pkg/model/authentication.go
  pilot/pkg/model/authorization.go
  pilot/pkg/model/authorization_test.go
  pilot/pkg/model/extensions.go
  pilot/pkg/model/extensions_test.go
  pilot/pkg/model/policyattachment.go
  pilot/pkg/model/policyattachment_test.go
  pilot/pkg/model/push_context.go
  pilot/pkg/model/telemetry.go
  pilot/pkg/networking/plugin/authz/authorization.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-security-maintainers

Fix reset for hboneTerminationAccessLog
  pilot/pkg/networking/core/accesslog.go
Owners: @istio/wg-networking-maintainers-pilot

Fix reset for hboneTerminationAccessLog (#54886)
  pilot/pkg/networking/core/accesslog.go
Owners: @istio/wg-networking-maintainers-pilot

Fix reset for hboneTerminationAccessLog
  pilot/pkg/networking/core/accesslog.go
Owners: @istio/wg-networking-maintainers-pilot

update daemonset to prioritize .Values.cniBinDir over autodetection
  manifests/charts/istio-cni/templates/daemonset.yaml
  manifests/charts/istio-cni/values.yaml
Owners: @istio/wg-environments-maintainers

match vhost on domain in envoyfilter
  pilot/pkg/networking/core/envoyfilter/rc_patch.go
Owners: @istio/wg-networking-maintainers-pilot
