Repository istio/istio, changes with the owners that CODEOWNERS names for each.
All owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers, @istio/wg-environments-maintainers, @istio/wg-networking-maintainers, @istio/wg-user-experience-maintainers, @istio/wg-security-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-policies-and-telemetry-maintainers, @istio/wg-docs-maintainers-english, @istio/wg-networking-maintainers-ztunnel

CODEOWNERS:

*                                                                @costinm @linsun @howardjohn @stevenctl @keithmattix @hzxuzhonghu
/.gitattributes                                                  @istio/wg-test-and-release-maintainers
/.gitignore                                                      @istio/wg-test-and-release-maintainers
/Makefile.core.mk                                                @istio/wg-test-and-release-maintainers
/bin/                                                            @istio/wg-test-and-release-maintainers
/cmd/istiod/                                                     @istio/wg-environments-maintainers
/cni/                                                            @istio/wg-networking-maintainers
/common/                                                         @istio/wg-test-and-release-maintainers
/common-protos/                                                  @istio/wg-test-and-release-maintainers
/install/                                                        @istio/wg-environments-maintainers
/istioctl/                                                       @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
Makefile*                                                        @istio/wg-test-and-release-maintainers
/manifests/                                                      @istio/wg-environments-maintainers
/operator/                                                       @istio/wg-environments-maintainers
/pilot/                                                          @istio/wg-networking-maintainers
/pilot/pkg/security/                                             @istio/wg-security-maintainers
/pilot/pkg/config/                                               @istio/wg-networking-maintainers
/pilot/pkg/networking/plugin/authn/                              @istio/wg-security-maintainers
/pilot/pkg/networking/plugin/authz/                              @istio/wg-security-maintainers
/pilot/pkg/serviceregistry/                                      @istio/wg-networking-maintainers-pilot
/pilot/pkg/model/                                                @istio/wg-networking-maintainers-pilot
/pilot/pkg/networking/core                                       @istio/wg-networking-maintainers-pilot
/pilot/pkg/proxy                                                 @istio/wg-networking-maintainers-pilot
/pkg/                                                            @istio/wg-test-and-release-maintainers
/pkg/adsc/                                                       @istio/wg-networking-maintainers
/pkg/bootstrap/                                                  @istio/wg-networking-maintainers
/pkg/config/                                                     @istio/wg-networking-maintainers
/pkg/config/analysis/                                            @istio/wg-networking-maintainers @istio/wg-user-experience-maintainers
/pkg/dns/                                                        @istio/wg-networking-maintainers
/pkg/envoy/                                                      @istio/wg-networking-maintainers
/pkg/istio-agent/                                                @istio/wg-networking-maintainers @istio/wg-security-maintainers
/pkg/keepalive/                                                  @istio/wg-networking-maintainers
/pkg/monitoring/                                                 @istio/wg-networking-maintainers @istio/wg-policies-and-telemetry-maintainers
/pkg/kube/                                                       @istio/wg-networking-maintainers
/pkg/mcp/                                                        @istio/wg-networking-maintainers
/pkg/queue/                                                      @istio/wg-networking-maintainers
/pkg/security/                                                   @istio/wg-security-maintainers @istio/wg-environments-maintainers
/pkg/spiffe/                                                     @istio/wg-security-maintainers
/pkg/test/                                                       @istio/wg-test-and-release-maintainers
/pkg/fuzz/                                                       @istio/wg-test-and-release-maintainers
/pkg/tracing/                                                    @istio/wg-policies-and-telemetry-maintainers
/pkg/wasm/                                                       @istio/wg-policies-and-telemetry-maintainers
/pkg/webhooks/                                                   @istio/wg-environments-maintainers
/pkg/workloadapi/                                                @istio/wg-networking-maintainers
/prow/                                                           @istio/wg-test-and-release-maintainers
/release/                                                        @istio/wg-test-and-release-maintainers
/releasenotes/                                                   @istio/wg-test-and-release-maintainers
/releasenotes/notes
/samples/                                                        @istio/wg-docs-maintainers-english
/samples/addons                                                  @istio/wg-policies-and-telemetry-maintainers @istio/wg-environments-maintainers
/samples/ambient-argo                                            @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/samples/multicluster                                            @istio/wg-networking-maintainers
/security/                                                       @istio/wg-security-maintainers
/tests/                                                          @istio/wg-test-and-release-maintainers
/tests/integration/conformance/                                  @istio/wg-test-and-release-maintainers
/tests/integration/framework/                                    @istio/wg-test-and-release-maintainers
/tests/integration/galley/                                       @istio/wg-networking-maintainers
/tests/integration/telemetry/                                    @istio/wg-policies-and-telemetry-maintainers
/tests/integration/pilot/                                        @istio/wg-networking-maintainers
/tests/integration/qualification/                                @istio/wg-test-and-release-maintainers
/tests/integration/security/                                     @istio/wg-security-maintainers
/tests/integration/istioctl/                                     @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/tools/                                                          @istio/wg-test-and-release-maintainers
/tools/packaging/common/envoy_bootstrap.json                     @istio/wg-networking-maintainers
/tools/istio-iptables/                                           @istio/wg-networking-maintainers
architecture/ambient                                             @istio/wg-networking-maintainers-pilot @istio/wg-networking-maintainers-ztunnel
architecture/environments                                        @istio/wg-environments-maintainers
architecture/networking                                          @istio/wg-networking-maintainers
architecture/security                                            @istio/wg-security-maintainers

gateway api: fix rewrite
  pilot/pkg/config/kube/gateway/conversion.go
  tests/integration/pilot/common/routing.go
  tests/integration/pilot/gateway_test.go
Owners: @istio/wg-networking-maintainers

Improvements to PILOT_FILTER_GATEWAY_CLUSTER_CONFIG
  pilot/pkg/model/push_context.go
  pilot/pkg/model/push_context_test.go
  pilot/pkg/networking/core/cluster.go
  pilot/pkg/networking/core/waypoint.go
  pilot/pkg/xds/proxy_dependencies.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers

Improvements to PILOT_FILTER_GATEWAY_CLUSTER_CONFIG (#54895)
  pilot/pkg/model/push_context.go
  pilot/pkg/model/push_context_test.go
  pilot/pkg/networking/core/cluster.go
  pilot/pkg/networking/core/waypoint.go
  pilot/pkg/xds/proxy_dependencies.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers

match vhost on domain in envoyfilter (#54892)
  pilot/pkg/networking/core/envoyfilter/rc_patch.go
  pilot/pkg/networking/core/envoyfilter/rc_patch_test.go
  releasenotes/notes/54892.yaml
Owners: @istio/wg-networking-maintainers-pilot

fix missing wasm convert error logs (#54903)
  pkg/wasm/convert.go
Owners: @istio/wg-policies-and-telemetry-maintainers

[release-1.25] Implement ambient pod-level DNS inclusion/exclusion (#54938)
  cni/pkg/iptables/common_test.go
  cni/pkg/iptables/iptables.go
  cni/pkg/iptables/testdata/dns_pod_disabled_and_on_globally.golden
  cni/pkg/iptables/testdata/dns_pod_disabled_and_on_globally_ipv6.golden
  cni/pkg/iptables/testdata/dns_pod_enabled_and_off_globally.golden
  cni/pkg/iptables/testdata/dns_pod_enabled_and_off_globally_ipv6.golden
  cni/pkg/nodeagent/net.go
  cni/pkg/nodeagent/net_test.go
  cni/pkg/util/podutil.go
  releasenotes/notes/54935.yaml
Owners: @istio/wg-networking-maintainers

Automator: update go-control-plane in istio/istio@master
  go.mod
  go.sum
  pkg/config/xds/filter_types.gen.go
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-networking-maintainers

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update go-control-plane in istio/istio@master (#54943)
  go.mod
  go.sum
  pkg/config/xds/filter_types.gen.go
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-networking-maintainers

Automator: update proxy@master in istio/istio@master (#54944)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

bump Kiali to v2.5 for the Istio 1.25 release
  manifests/addons/gen.sh
  releasenotes/notes/kiali-update-v2.5.yaml
  samples/addons/kiali.yaml
Owners: @istio/wg-environments-maintainers, @istio/wg-policies-and-telemetry-maintainers

bump Kiali to v2.5 for the Istio 1.25 release (#54950)
  manifests/addons/gen.sh
  releasenotes/notes/kiali-update-v2.5.yaml
  samples/addons/kiali.yaml
Owners: @istio/wg-environments-maintainers, @istio/wg-policies-and-telemetry-maintainers

bump Kiali to v2.5 for the Istio 1.25 release
  manifests/addons/gen.sh
  releasenotes/notes/kiali-update-v2.5.yaml
  samples/addons/kiali.yaml
Owners: @istio/wg-environments-maintainers, @istio/wg-policies-and-telemetry-maintainers

feat: ability override namespace for the istio-cni chart
  manifests/charts/istio-cni/templates/clusterrolebinding.yaml
  manifests/charts/istio-cni/templates/configmap-cni.yaml
  manifests/charts/istio-cni/templates/daemonset.yaml
  manifests/charts/istio-cni/templates/resourcequota.yaml
  manifests/charts/istio-cni/templates/serviceaccount.yaml
  manifests/charts/istio-cni/values.yaml
Owners: @istio/wg-environments-maintainers

Automator: update common-files@master in istio/istio@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers

Always initialize istiooperator label maps
  operator/pkg/component/component.go
Owners: @istio/wg-environments-maintainers

Automator: update istio/client-go@master dependency in istio/istio@master
  go.mod
  go.sum
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

release note
  releasenotes/notes/54959.yaml
Owners: none

Update releasenotes/notes/54959.yaml
  releasenotes/notes/54959.yaml
Owners: none

tests: use distroless for ambient helm upgrade test (#54915)
  tests/integration/helm/upgrade/util.go
Owners: @istio/wg-test-and-release-maintainers

Automator: update common-files@master in istio/istio@master (#54956)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers

Automator: update istio/client-go@master dependency in istio/istio@master (#54957)
  go.mod
  go.sum
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update ztunnel@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update ztunnel@master in istio/istio@master (#54961)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update common-files@master in istio/istio@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers

Automator: update istio/client-go@master dependency in istio/istio@master
  go.mod
  go.sum
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update common-files@master in istio/istio@master (#54963)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers

Automator: update proxy@master in istio/istio@master (#54958)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

feat: use coalesce and added release notes
  manifests/charts/istio-cni/templates/clusterrolebinding.yaml
  manifests/charts/istio-cni/templates/configmap-cni.yaml
  manifests/charts/istio-cni/templates/daemonset.yaml
  manifests/charts/istio-cni/templates/resourcequota.yaml
  manifests/charts/istio-cni/templates/serviceaccount.yaml
  manifests/charts/istio-cni/values.yaml
  releasenotes/notes/54954.yaml
Owners: @istio/wg-environments-maintainers

chiron: fix goroutine/memory leak of CSR watcher (#54663)
  security/pkg/k8s/chiron/utils.go
Owners: @istio/wg-security-maintainers

Automator: update istio/client-go@master dependency in istio/istio@master (#54964)
  go.mod
  go.sum
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@master in istio/istio@master (#54980)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@master in istio/istio@master (#54983)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

istiod ca: custom ConfigMap name for CA root cert
  manifests/charts/gateways/istio-egress/templates/deployment.yaml
  manifests/charts/gateways/istio-ingress/templates/deployment.yaml
  manifests/charts/istio-control/istio-discovery/files/gateway-injection-template.yaml
  manifests/charts/istio-control/istio-discovery/files/grpc-agent.yaml
  manifests/charts/istio-control/istio-discovery/files/injection-template.yaml
  manifests/charts/istio-control/istio-discovery/files/kube-gateway.yaml
  manifests/charts/istio-control/istio-discovery/files/waypoint.yaml
  manifests/charts/istio-control/istio-discovery/templates/deployment.yaml
  manifests/charts/ztunnel/templates/daemonset.yaml
  operator/pkg/apis/values_types.pb.go
  operator/pkg/apis/values_types.proto
  pilot/pkg/features/experimental.go
  pilot/pkg/serviceregistry/kube/controller/namespacecontroller.go
  pilot/pkg/serviceregistry/kube/controller/namespacecontroller_test.go
  pkg/test/framework/components/echo/common/deployment/echos.go
  pkg/test/framework/components/echo/common/deployment/namespace.go
  releasenotes/notes/53385.yaml
  tests/integration/pilot/multiplecontrolplanes/main_test.go
Owners: @istio/wg-environments-maintainers, @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-test-and-release-maintainers

Automator: update ztunnel@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update ztunnel@master in istio/istio@master (#54973)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu
