Repository istio/istio, changes with the owners that CODEOWNERS names for each.
All owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers, @istio/wg-environments-maintainers, @istio/wg-networking-maintainers, @istio/wg-user-experience-maintainers, @istio/wg-security-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-policies-and-telemetry-maintainers, @istio/wg-docs-maintainers-english, @istio/wg-networking-maintainers-ztunnel

Allow kind integ tests inside devcontainer (#54746)
  prow/integ-suite-kind.sh
  prow/lib.sh
Owners: @istio/wg-test-and-release-maintainers

increment sidecar injector metrics for more error cases
  pkg/kube/inject/webhook.go
Owners: @istio/wg-networking-maintainers

Check for both vhost name and vhost domainName if both are present - added testcases
  pilot/pkg/networking/core/envoyfilter/rc_patch.go
  pilot/pkg/networking/core/envoyfilter/rc_patch_test.go
Owners: @istio/wg-networking-maintainers-pilot

Add test case for PilotConfigToResource() function
  pkg/config/conversion_test.go
Owners: @istio/wg-networking-maintainers

fix: don't ignore the failure
  prow/coverage.sh
Owners: @istio/wg-test-and-release-maintainers

fix: remove unnecessary command
  prow/coverage.sh
Owners: @istio/wg-test-and-release-maintainers

tabs
  tests/integration/ambient/main_test.go
Owners: @istio/wg-test-and-release-maintainers

test default deny for wl waypoints too
  tests/integration/ambient/baseline_test.go
Owners: @istio/wg-test-and-release-maintainers

Add tests
  pilot/cmd/pilot-agent/options/agent.go
  pilot/cmd/pilot-agent/options/options.go
  pkg/bootstrap/config.go
  pkg/bootstrap/instance_test.go
  pkg/bootstrap/testdata/ambient.proxycfg
  pkg/bootstrap/testdata/ambient_golden.json
  pkg/model/proxy.go
  pkg/test/framework/resource/flags.go
Owners: @istio/wg-networking-maintainers, @istio/wg-test-and-release-maintainers

Fixup
  pkg/bootstrap/instance_test.go
  pkg/test/framework/resource/flags.go
Owners: @istio/wg-networking-maintainers, @istio/wg-test-and-release-maintainers

Allow non-ambient usage of peer metadata discovery
  pilot/cmd/pilot-agent/options/agent.go
  pkg/bootstrap/config.go
Owners: @istio/wg-networking-maintainers

Only override peer discovery for ambient if unset
  pilot/cmd/pilot-agent/options/agent.go
  pilot/cmd/pilot-agent/options/options.go
  pkg/bootstrap/config.go
  pkg/istio-agent/agent.go
  pkg/model/proxy.go
Owners: @istio/wg-networking-maintainers, @istio/wg-security-maintainers, @istio/wg-test-and-release-maintainers

Add release note
  releasenotes/notes/ambient-ingress-discovery.yaml
Owners: none

Make gen
  pkg/bootstrap/testdata/all_golden.json
  pkg/bootstrap/testdata/auth_golden.json
  pkg/bootstrap/testdata/authsds_golden.json
  pkg/bootstrap/testdata/default_golden.json
  pkg/bootstrap/testdata/deferred_cluster_creation_golden.json
  pkg/bootstrap/testdata/explicit_internal_address_golden.json
  pkg/bootstrap/testdata/legacy_stats_tags_regex_golden.json
  pkg/bootstrap/testdata/lrs_golden.json
  pkg/bootstrap/testdata/metrics_no_statsd_golden.json
  pkg/bootstrap/testdata/running_golden.json
  pkg/bootstrap/testdata/runningsds_golden.json
  pkg/bootstrap/testdata/stats_compression_brotli_golden.json
  pkg/bootstrap/testdata/stats_compression_gzip_golden.json
  pkg/bootstrap/testdata/stats_compression_unknown_golden.json
  pkg/bootstrap/testdata/stats_compression_zstd_golden.json
  pkg/bootstrap/testdata/stats_inclusion_golden.json
  pkg/bootstrap/testdata/tracing_datadog_golden.json
  pkg/bootstrap/testdata/tracing_lightstep_golden.json
  pkg/bootstrap/testdata/tracing_none_golden.json
  pkg/bootstrap/testdata/tracing_opencensusagent_golden.json
  pkg/bootstrap/testdata/tracing_tls_custom_sni_golden.json
  pkg/bootstrap/testdata/tracing_tls_golden.json
  pkg/bootstrap/testdata/tracing_zipkin_golden.json
  pkg/bootstrap/testdata/xdsproxy_golden.json
Owners: @istio/wg-networking-maintainers

Make metadata discovery explicit
  pkg/istio-agent/testdata/grpc-bootstrap.json
Owners: @istio/wg-networking-maintainers, @istio/wg-security-maintainers

Fix ambient telemetry in ingress gateways
  pilot/cmd/pilot-agent/options/options.go
Owners: @istio/wg-networking-maintainers

Automator: update ztunnel@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

ambient: optimize node utilization
  pilot/pkg/serviceregistry/kube/controller/ambient/ambientindex.go
  pilot/pkg/serviceregistry/kube/controller/ambient/nodes.go
  pilot/pkg/serviceregistry/kube/controller/ambient/workloads.go
  pilot/pkg/serviceregistry/kube/controller/ambient/workloads_test.go
Owners: @istio/wg-networking-maintainers-pilot

Automator: update ztunnel@master in istio/istio@master (#54899)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

missing return
  pkg/kube/inject/webhook.go
Owners: @istio/wg-networking-maintainers

increment sidecar injector metrics for more error cases (#54893)
  pkg/kube/inject/webhook.go
Owners: @istio/wg-networking-maintainers

ran make gen
  pilot/pkg/networking/core/envoyfilter/rc_patch.go
  pilot/pkg/networking/core/envoyfilter/rc_patch_test.go
Owners: @istio/wg-networking-maintainers-pilot

releasenotes
  releasenotes/notes/54892.yaml
Owners: none

External Control Plane Installer
  pkg/test/framework/components/istio/cleanup.go
  pkg/test/framework/components/istio/config.go
  pkg/test/framework/components/istio/flags.go
  pkg/test/framework/components/istio/kube.go
  tests/integration/README.md
Owners: @istio/wg-test-and-release-maintainers

refactor
  pilot/pkg/networking/core/envoyfilter/rc_patch.go
Owners: @istio/wg-networking-maintainers-pilot

fix releasenotes
  releasenotes/notes/54892.yaml
Owners: none

remove wrong example for waypoint delete
  istioctl/pkg/waypoint/waypoint.go
Owners: @istio/wg-user-experience-maintainers, @istio/wg-networking-maintainers

fix wasm convert error logs
  pkg/wasm/convert.go
Owners: @istio/wg-policies-and-telemetry-maintainers

Automator: update proxy@release-1.24 in istio/istio@release-1.24
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

External Control Plane Installer (#54685)
  pkg/test/framework/components/istio/cleanup.go
  pkg/test/framework/components/istio/config.go
  pkg/test/framework/components/istio/flags.go
  pkg/test/framework/components/istio/kube.go
  tests/integration/README.md
Owners: @istio/wg-test-and-release-maintainers

Automator: update proxy@release-1.24 in istio/istio@release-1.24 (#54904)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

remove wrong example for waypoint delete (#54902)
  istioctl/pkg/waypoint/waypoint.go
Owners: @istio/wg-user-experience-maintainers, @istio/wg-networking-maintainers

Set topology.istio.io/network label on networkGateway pods
  manifests/charts/gateway/templates/deployment.yaml
Owners: @istio/wg-environments-maintainers

Add note to CNI readme to clarify supported OS
  cni/README.md
Owners: @istio/wg-networking-maintainers

Add note to CNI readme to clarify supported OS (#54908)
  cni/README.md
Owners: @istio/wg-networking-maintainers

Drop PushContext errors (#54802)
  manifests/addons/dashboards/lib/queries.libsonnet
  manifests/addons/dashboards/pilot-dashboard.gen.json
  pilot/pkg/config/kube/gateway/controller.go
  pilot/pkg/config/kube/gateway/controller_test.go
  pilot/pkg/model/context.go
  pilot/pkg/model/push_context.go
  pilot/pkg/model/push_context_test.go
  pilot/pkg/networking/core/envoyfilter/listener_patch_test.go
  pilot/pkg/networking/core/fake.go
  pilot/pkg/networking/core/loadbalancer/loadbalancer_test.go
  pilot/pkg/xds/ads.go
  pilot/pkg/xds/delta.go
  pilot/pkg/xds/discovery.go
  pilot/pkg/xds/endpoints/endpoint_builder_test.go
  pilot/pkg/xds/monitoring.go
  samples/addons/grafana.yaml
  tests/fuzz/pilot_model_fuzzer.go
Owners: @istio/wg-environments-maintainers, @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-policies-and-telemetry-maintainers, @istio/wg-test-and-release-maintainers

fix releasenotes
  releasenotes/notes/54892.yaml
Owners: none

initial impl for targetRef=gwclass policy attachment (#54780)
  pilot/pkg/model/authentication.go
  pilot/pkg/model/authentication_test.go
  pilot/pkg/model/authorization_test.go
  pilot/pkg/model/extensions_test.go
  pilot/pkg/model/policyattachment.go
  pilot/pkg/model/policyattachment_test.go
  pilot/pkg/model/push_context.go
  pilot/pkg/model/telemetry.go
  pilot/pkg/networking/plugin/authz/authorization.go
  pkg/config/validation/validation.go
  releasenotes/notes/54780.yaml
  tests/integration/ambient/baseline_test.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-security-maintainers, @istio/wg-networking-maintainers, @istio/wg-test-and-release-maintainers

move RootNamespace to WorkloadPolicyMatcher
  pilot/pkg/model/authentication.go
  pilot/pkg/model/authorization.go
  pilot/pkg/model/authorization_test.go
  pilot/pkg/model/extensions.go
  pilot/pkg/model/extensions_test.go
  pilot/pkg/model/policyattachment.go
  pilot/pkg/model/policyattachment_test.go
  pilot/pkg/model/push_context.go
  pilot/pkg/model/telemetry.go
  pilot/pkg/networking/plugin/authz/authorization.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-security-maintainers

release note and integration test
  releasenotes/notes/54780.yaml
  tests/integration/ambient/baseline_test.go
Owners: @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                                                                @costinm @linsun @howardjohn @stevenctl @keithmattix @hzxuzhonghu
/.gitattributes                                                  @istio/wg-test-and-release-maintainers
/.gitignore                                                      @istio/wg-test-and-release-maintainers
/Makefile.core.mk                                                @istio/wg-test-and-release-maintainers
/bin/                                                            @istio/wg-test-and-release-maintainers
/cmd/istiod/                                                     @istio/wg-environments-maintainers
/cni/                                                            @istio/wg-networking-maintainers
/common/                                                         @istio/wg-test-and-release-maintainers
/common-protos/                                                  @istio/wg-test-and-release-maintainers
/install/                                                        @istio/wg-environments-maintainers
/istioctl/                                                       @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
Makefile*                                                        @istio/wg-test-and-release-maintainers
/manifests/                                                      @istio/wg-environments-maintainers
/operator/                                                       @istio/wg-environments-maintainers
/pilot/                                                          @istio/wg-networking-maintainers
/pilot/pkg/security/                                             @istio/wg-security-maintainers
/pilot/pkg/config/                                               @istio/wg-networking-maintainers
/pilot/pkg/networking/plugin/authn/                              @istio/wg-security-maintainers
/pilot/pkg/networking/plugin/authz/                              @istio/wg-security-maintainers
/pilot/pkg/serviceregistry/                                      @istio/wg-networking-maintainers-pilot
/pilot/pkg/model/                                                @istio/wg-networking-maintainers-pilot
/pilot/pkg/networking/core                                       @istio/wg-networking-maintainers-pilot
/pilot/pkg/proxy                                                 @istio/wg-networking-maintainers-pilot
/pkg/                                                            @istio/wg-test-and-release-maintainers
/pkg/adsc/                                                       @istio/wg-networking-maintainers
/pkg/bootstrap/                                                  @istio/wg-networking-maintainers
/pkg/config/                                                     @istio/wg-networking-maintainers
/pkg/config/analysis/                                            @istio/wg-networking-maintainers @istio/wg-user-experience-maintainers
/pkg/dns/                                                        @istio/wg-networking-maintainers
/pkg/envoy/                                                      @istio/wg-networking-maintainers
/pkg/istio-agent/                                                @istio/wg-networking-maintainers @istio/wg-security-maintainers
/pkg/keepalive/                                                  @istio/wg-networking-maintainers
/pkg/monitoring/                                                 @istio/wg-networking-maintainers @istio/wg-policies-and-telemetry-maintainers
/pkg/kube/                                                       @istio/wg-networking-maintainers
/pkg/mcp/                                                        @istio/wg-networking-maintainers
/pkg/queue/                                                      @istio/wg-networking-maintainers
/pkg/security/                                                   @istio/wg-security-maintainers @istio/wg-environments-maintainers
/pkg/spiffe/                                                     @istio/wg-security-maintainers
/pkg/test/                                                       @istio/wg-test-and-release-maintainers
/pkg/fuzz/                                                       @istio/wg-test-and-release-maintainers
/pkg/tracing/                                                    @istio/wg-policies-and-telemetry-maintainers
/pkg/wasm/                                                       @istio/wg-policies-and-telemetry-maintainers
/pkg/webhooks/                                                   @istio/wg-environments-maintainers
/pkg/workloadapi/                                                @istio/wg-networking-maintainers
/prow/                                                           @istio/wg-test-and-release-maintainers
/release/                                                        @istio/wg-test-and-release-maintainers
/releasenotes/                                                   @istio/wg-test-and-release-maintainers
/releasenotes/notes
/samples/                                                        @istio/wg-docs-maintainers-english
/samples/addons                                                  @istio/wg-policies-and-telemetry-maintainers @istio/wg-environments-maintainers
/samples/ambient-argo                                            @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/samples/multicluster                                            @istio/wg-networking-maintainers
/security/                                                       @istio/wg-security-maintainers
/tests/                                                          @istio/wg-test-and-release-maintainers
/tests/integration/conformance/                                  @istio/wg-test-and-release-maintainers
/tests/integration/framework/                                    @istio/wg-test-and-release-maintainers
/tests/integration/galley/                                       @istio/wg-networking-maintainers
/tests/integration/telemetry/                                    @istio/wg-policies-and-telemetry-maintainers
/tests/integration/pilot/                                        @istio/wg-networking-maintainers
/tests/integration/qualification/                                @istio/wg-test-and-release-maintainers
/tests/integration/security/                                     @istio/wg-security-maintainers
/tests/integration/istioctl/                                     @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/tools/                                                          @istio/wg-test-and-release-maintainers
/tools/packaging/common/envoy_bootstrap.json                     @istio/wg-networking-maintainers
/tools/istio-iptables/                                           @istio/wg-networking-maintainers
architecture/ambient                                             @istio/wg-networking-maintainers-pilot @istio/wg-networking-maintainers-ztunnel
architecture/environments                                        @istio/wg-environments-maintainers
architecture/networking                                          @istio/wg-networking-maintainers
architecture/security                                            @istio/wg-security-maintainers
