Repository istio/istio, changes with the owners that CODEOWNERS names for each.
All owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers, @istio/wg-environments-maintainers, @istio/wg-networking-maintainers, @istio/wg-user-experience-maintainers, @istio/wg-security-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-policies-and-telemetry-maintainers, @istio/wg-docs-maintainers-english, @istio/wg-networking-maintainers-ztunnel

CODEOWNERS:

*                                                                @costinm @linsun @howardjohn @stevenctl @keithmattix @hzxuzhonghu
/.gitattributes                                                  @istio/wg-test-and-release-maintainers
/.gitignore                                                      @istio/wg-test-and-release-maintainers
/Makefile.core.mk                                                @istio/wg-test-and-release-maintainers
/bin/                                                            @istio/wg-test-and-release-maintainers
/cmd/istiod/                                                     @istio/wg-environments-maintainers
/cni/                                                            @istio/wg-networking-maintainers
/common/                                                         @istio/wg-test-and-release-maintainers
/common-protos/                                                  @istio/wg-test-and-release-maintainers
/install/                                                        @istio/wg-environments-maintainers
/istioctl/                                                       @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
Makefile*                                                        @istio/wg-test-and-release-maintainers
/manifests/                                                      @istio/wg-environments-maintainers
/operator/                                                       @istio/wg-environments-maintainers
/pilot/                                                          @istio/wg-networking-maintainers
/pilot/pkg/security/                                             @istio/wg-security-maintainers
/pilot/pkg/config/                                               @istio/wg-networking-maintainers
/pilot/pkg/networking/plugin/authn/                              @istio/wg-security-maintainers
/pilot/pkg/networking/plugin/authz/                              @istio/wg-security-maintainers
/pilot/pkg/serviceregistry/                                      @istio/wg-networking-maintainers-pilot
/pilot/pkg/model/                                                @istio/wg-networking-maintainers-pilot
/pilot/pkg/networking/core                                       @istio/wg-networking-maintainers-pilot
/pilot/pkg/proxy                                                 @istio/wg-networking-maintainers-pilot
/pkg/                                                            @istio/wg-test-and-release-maintainers
/pkg/adsc/                                                       @istio/wg-networking-maintainers
/pkg/bootstrap/                                                  @istio/wg-networking-maintainers
/pkg/config/                                                     @istio/wg-networking-maintainers
/pkg/config/analysis/                                            @istio/wg-networking-maintainers @istio/wg-user-experience-maintainers
/pkg/dns/                                                        @istio/wg-networking-maintainers
/pkg/envoy/                                                      @istio/wg-networking-maintainers
/pkg/istio-agent/                                                @istio/wg-networking-maintainers @istio/wg-security-maintainers
/pkg/keepalive/                                                  @istio/wg-networking-maintainers
/pkg/monitoring/                                                 @istio/wg-networking-maintainers @istio/wg-policies-and-telemetry-maintainers
/pkg/kube/                                                       @istio/wg-networking-maintainers
/pkg/mcp/                                                        @istio/wg-networking-maintainers
/pkg/queue/                                                      @istio/wg-networking-maintainers
/pkg/security/                                                   @istio/wg-security-maintainers @istio/wg-environments-maintainers
/pkg/spiffe/                                                     @istio/wg-security-maintainers
/pkg/test/                                                       @istio/wg-test-and-release-maintainers
/pkg/fuzz/                                                       @istio/wg-test-and-release-maintainers
/pkg/tracing/                                                    @istio/wg-policies-and-telemetry-maintainers
/pkg/wasm/                                                       @istio/wg-policies-and-telemetry-maintainers
/pkg/webhooks/                                                   @istio/wg-environments-maintainers
/pkg/workloadapi/                                                @istio/wg-networking-maintainers
/prow/                                                           @istio/wg-test-and-release-maintainers
/release/                                                        @istio/wg-test-and-release-maintainers
/releasenotes/                                                   @istio/wg-test-and-release-maintainers
/releasenotes/notes
/samples/                                                        @istio/wg-docs-maintainers-english
/samples/addons                                                  @istio/wg-policies-and-telemetry-maintainers @istio/wg-environments-maintainers
/samples/ambient-argo                                            @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/samples/multicluster                                            @istio/wg-networking-maintainers
/security/                                                       @istio/wg-security-maintainers
/tests/                                                          @istio/wg-test-and-release-maintainers
/tests/integration/conformance/                                  @istio/wg-test-and-release-maintainers
/tests/integration/framework/                                    @istio/wg-test-and-release-maintainers
/tests/integration/galley/                                       @istio/wg-networking-maintainers
/tests/integration/telemetry/                                    @istio/wg-policies-and-telemetry-maintainers
/tests/integration/pilot/                                        @istio/wg-networking-maintainers
/tests/integration/qualification/                                @istio/wg-test-and-release-maintainers
/tests/integration/security/                                     @istio/wg-security-maintainers
/tests/integration/istioctl/                                     @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/tools/                                                          @istio/wg-test-and-release-maintainers
/tools/packaging/common/envoy_bootstrap.json                     @istio/wg-networking-maintainers
/tools/istio-iptables/                                           @istio/wg-networking-maintainers
architecture/ambient                                             @istio/wg-networking-maintainers-pilot @istio/wg-networking-maintainers-ztunnel
architecture/environments                                        @istio/wg-environments-maintainers
architecture/networking                                          @istio/wg-networking-maintainers
architecture/security                                            @istio/wg-security-maintainers

fix the regex
  pkg/bootstrap/platform/gcp.go
Owners: @istio/wg-networking-maintainers

Automator: update common-files@master in istio/istio@master (#54787)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers

Automator: update proxy@master in istio/istio@master (#54788)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

add comments
  pkg/bootstrap/platform/gcp.go
Owners: @istio/wg-networking-maintainers

update release notes
  releasenotes/notes/54644.yaml
Owners: none

don't print guardrails cleanup
  cni/pkg/iptables/iptables.go
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @istio/wg-networking-maintainers

always use debug for "running cmd" statement
  tools/istio-iptables/pkg/dependencies/implementation_linux.go
  tools/istio-iptables/pkg/dependencies/implementation_unspecified.go
Owners: @istio/wg-networking-maintainers

revert guardrails changes
  cni/pkg/iptables/iptables.go
  tools/istio-iptables/pkg/capture/run.go
Owners: @istio/wg-networking-maintainers

fix accesslog incompatibility between 1.23 controllers and <1.23 proxies
  pilot/pkg/model/telemetry_logging.go
  pilot/pkg/networking/core/accesslog.go
Owners: @istio/wg-networking-maintainers-pilot

add release note
  releasenotes/notes/54795.yaml
Owners: none

Fix accesslog format incompatibility between 1.23 istiod and <1.23 proxies (#54795)
  pilot/pkg/model/telemetry_logging.go
  pilot/pkg/networking/core/accesslog.go
  releasenotes/notes/54795.yaml
Owners: @istio/wg-networking-maintainers-pilot

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

try filtering for collateral
  pilot/pkg/features/pilot.go
  pkg/collateral/control.go
  pkg/env/var.go
Owners: @istio/wg-networking-maintainers, @istio/wg-test-and-release-maintainers

Automator: update proxy@master in istio/istio@master (#54796)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Use the commmon label 'pod' instead of 'pod_name' as label in PodMonitor
  samples/addons/extras/prometheus-operator.yaml
Owners: @istio/wg-policies-and-telemetry-maintainers, @istio/wg-environments-maintainers

Push back reading resolv.conf
  pkg/bootstrap/platform/gcp.go
Owners: @istio/wg-networking-maintainers

fix the existing test case
  pkg/bootstrap/platform/gcp.go
  pkg/bootstrap/platform/gcp_test.go
Owners: @istio/wg-networking-maintainers

Add tagged gateways to status
  pilot/pkg/config/kube/crdclient/client.go
  pkg/config/model.go
  pkg/test/framework/components/ambient/waypoint.go
  tests/integration/ambient/main_test.go
  tests/integration/ambient/waypoint_test.go
Owners: @istio/wg-networking-maintainers, @istio/wg-test-and-release-maintainers

remove commented code
  tests/integration/ambient/waypoint_test.go
Owners: @istio/wg-test-and-release-maintainers

address code comments
  pilot/pkg/config/kube/gateway/controller.go
  pkg/kube/controllers/leak_test.go
  pkg/kube/controllers/queue.go
  pkg/test/framework/components/ambient/waypoint.go
Owners: @istio/wg-networking-maintainers, @istio/wg-test-and-release-maintainers

add missing file from last commit
  pkg/test/framework/components/ambient/waypoint.go
Owners: @istio/wg-test-and-release-maintainers

don't need tags for IGW
  pilot/pkg/config/kube/crdclient/client.go
Owners: @istio/wg-networking-maintainers

discard test changes to see if they are affecting the test outcomes
  .kubeconfig
  pkg/test/framework/components/ambient/waypoint.go
  tests/integration/ambient/main_test.go
  tests/integration/ambient/waypoint_test.go
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers

crdclient include all gateways
  pilot/pkg/config/kube/crdclient/client.go
  pilot/pkg/config/kube/gateway/controller.go
  pilot/pkg/config/kube/gateway/controller_test.go
  pilot/pkg/config/kube/gateway/deploymentcontroller.go
  pkg/revisions/leak_test.go
  pkg/revisions/tag_watcher.go
Owners: @istio/wg-networking-maintainers, @istio/wg-test-and-release-maintainers

start func is async
  pilot/pkg/bootstrap/configcontroller.go
Owners: @istio/wg-networking-maintainers

first pass at integ test
  tests/integration/ambient/gateway_conformance_test.go
Owners: @istio/wg-test-and-release-maintainers

remove unused tag watcher
  pilot/pkg/config/kube/crdclient/client.go
Owners: @istio/wg-networking-maintainers

add release note
  releasenotes/notes/54458.yaml
Owners: none

only use tagwatcher when mwcs available
  pilot/pkg/config/kube/crdclient/client.go
  pkg/kube/controllers/leak_test.go
  pkg/kube/controllers/queue.go
Owners: @istio/wg-networking-maintainers

fix templating error
  tests/integration/pilot/gateway_test.go
Owners: @istio/wg-networking-maintainers

add tagged gateway test
  tests/integration/pilot/gateway_test.go
Owners: @istio/wg-networking-maintainers

improve tag and waypoint creation in test
  tests/integration/ambient/waypoint_test.go
Owners: @istio/wg-test-and-release-maintainers

Delete .kubeconfig
  .kubeconfig
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

fix test failures
  pilot/pkg/bootstrap/options.go
  pilot/pkg/config/kube/gateway/controller.go
  tests/integration/pilot/gateway_test.go
Owners: @istio/wg-networking-maintainers

push xds on tag change
  pilot/pkg/bootstrap/configcontroller.go
  pilot/pkg/model/push_context.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot

fmt
  tests/integration/pilot/gateway_test.go
Owners: @istio/wg-networking-maintainers

fix lint error
  pilot/pkg/config/kube/gateway/controller.go
Owners: @istio/wg-networking-maintainers

revert conformance test changes
  pkg/test/framework/components/ambient/waypoint.go
  tests/integration/ambient/gateway_conformance_test.go
Owners: @istio/wg-test-and-release-maintainers

add comment
  pilot/pkg/config/kube/gateway/controller.go
Owners: @istio/wg-networking-maintainers

gateway api: implement HTTPRoute retries
  pilot/pkg/config/kube/gateway/conversion.go
  pilot/pkg/config/kube/gateway/testdata/http.status.yaml.golden
  pilot/pkg/config/kube/gateway/testdata/http.yaml
  pilot/pkg/config/kube/gateway/testdata/http.yaml.golden
Owners: @istio/wg-networking-maintainers
