Repository istio/istio, changes with the owners that CODEOWNERS names for each.
All owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers, @istio/wg-environments-maintainers, @istio/wg-networking-maintainers, @istio/wg-user-experience-maintainers, @istio/wg-security-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-policies-and-telemetry-maintainers, @istio/wg-docs-maintainers-english, @istio/wg-networking-maintainers-ztunnel

CODEOWNERS:

*                                                                @costinm @linsun @howardjohn @stevenctl @keithmattix @hzxuzhonghu
/.gitattributes                                                  @istio/wg-test-and-release-maintainers
/.gitignore                                                      @istio/wg-test-and-release-maintainers
/Makefile.core.mk                                                @istio/wg-test-and-release-maintainers
/bin/                                                            @istio/wg-test-and-release-maintainers
/cmd/istiod/                                                     @istio/wg-environments-maintainers
/cni/                                                            @istio/wg-networking-maintainers
/common/                                                         @istio/wg-test-and-release-maintainers
/common-protos/                                                  @istio/wg-test-and-release-maintainers
/install/                                                        @istio/wg-environments-maintainers
/istioctl/                                                       @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
Makefile*                                                        @istio/wg-test-and-release-maintainers
/manifests/                                                      @istio/wg-environments-maintainers
/operator/                                                       @istio/wg-environments-maintainers
/pilot/                                                          @istio/wg-networking-maintainers
/pilot/pkg/security/                                             @istio/wg-security-maintainers
/pilot/pkg/config/                                               @istio/wg-networking-maintainers
/pilot/pkg/networking/plugin/authn/                              @istio/wg-security-maintainers
/pilot/pkg/networking/plugin/authz/                              @istio/wg-security-maintainers
/pilot/pkg/serviceregistry/                                      @istio/wg-networking-maintainers-pilot
/pilot/pkg/model/                                                @istio/wg-networking-maintainers-pilot
/pilot/pkg/networking/core                                       @istio/wg-networking-maintainers-pilot
/pilot/pkg/proxy                                                 @istio/wg-networking-maintainers-pilot
/pkg/                                                            @istio/wg-test-and-release-maintainers
/pkg/adsc/                                                       @istio/wg-networking-maintainers
/pkg/bootstrap/                                                  @istio/wg-networking-maintainers
/pkg/config/                                                     @istio/wg-networking-maintainers
/pkg/config/analysis/                                            @istio/wg-networking-maintainers @istio/wg-user-experience-maintainers
/pkg/dns/                                                        @istio/wg-networking-maintainers
/pkg/envoy/                                                      @istio/wg-networking-maintainers
/pkg/istio-agent/                                                @istio/wg-networking-maintainers @istio/wg-security-maintainers
/pkg/keepalive/                                                  @istio/wg-networking-maintainers
/pkg/monitoring/                                                 @istio/wg-networking-maintainers @istio/wg-policies-and-telemetry-maintainers
/pkg/kube/                                                       @istio/wg-networking-maintainers
/pkg/mcp/                                                        @istio/wg-networking-maintainers
/pkg/queue/                                                      @istio/wg-networking-maintainers
/pkg/security/                                                   @istio/wg-security-maintainers @istio/wg-environments-maintainers
/pkg/spiffe/                                                     @istio/wg-security-maintainers
/pkg/test/                                                       @istio/wg-test-and-release-maintainers
/pkg/fuzz/                                                       @istio/wg-test-and-release-maintainers
/pkg/tracing/                                                    @istio/wg-policies-and-telemetry-maintainers
/pkg/wasm/                                                       @istio/wg-policies-and-telemetry-maintainers
/pkg/webhooks/                                                   @istio/wg-environments-maintainers
/pkg/workloadapi/                                                @istio/wg-networking-maintainers
/prow/                                                           @istio/wg-test-and-release-maintainers
/release/                                                        @istio/wg-test-and-release-maintainers
/releasenotes/                                                   @istio/wg-test-and-release-maintainers
/releasenotes/notes
/samples/                                                        @istio/wg-docs-maintainers-english
/samples/addons                                                  @istio/wg-policies-and-telemetry-maintainers @istio/wg-environments-maintainers
/samples/ambient-argo                                            @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/samples/multicluster                                            @istio/wg-networking-maintainers
/security/                                                       @istio/wg-security-maintainers
/tests/                                                          @istio/wg-test-and-release-maintainers
/tests/integration/conformance/                                  @istio/wg-test-and-release-maintainers
/tests/integration/framework/                                    @istio/wg-test-and-release-maintainers
/tests/integration/galley/                                       @istio/wg-networking-maintainers
/tests/integration/telemetry/                                    @istio/wg-policies-and-telemetry-maintainers
/tests/integration/pilot/                                        @istio/wg-networking-maintainers
/tests/integration/qualification/                                @istio/wg-test-and-release-maintainers
/tests/integration/security/                                     @istio/wg-security-maintainers
/tests/integration/istioctl/                                     @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/tools/                                                          @istio/wg-test-and-release-maintainers
/tools/packaging/common/envoy_bootstrap.json                     @istio/wg-networking-maintainers
/tools/istio-iptables/                                           @istio/wg-networking-maintainers
architecture/ambient                                             @istio/wg-networking-maintainers-pilot @istio/wg-networking-maintainers-ztunnel
architecture/environments                                        @istio/wg-environments-maintainers
architecture/networking                                          @istio/wg-networking-maintainers
architecture/security                                            @istio/wg-security-maintainers

Update release notes
  releasenotes/notes/54738.yaml
Owners: none

improve istioctl x internal-debug syncz output
  istioctl/pkg/internaldebug/internal-debug.go
Owners: @istio/wg-user-experience-maintainers, @istio/wg-networking-maintainers

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@master in istio/istio@master (#54753)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@master in istio/istio@master (#54754)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

istioctl: support SA RBAC rule parsing (#54744)
  istioctl/pkg/writer/ztunnel/configdump/api.go
  istioctl/pkg/writer/ztunnel/configdump/configdump_test.go
  istioctl/pkg/writer/ztunnel/configdump/testdata/dump.json
  istioctl/pkg/writer/ztunnel/configdump/testdata/policies.txt
Owners: @istio/wg-user-experience-maintainers, @istio/wg-networking-maintainers

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@master in istio/istio@master (#54755)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

make collections implement Syncer (#54750)
  pilot/pkg/serviceregistry/kube/controller/ambient/ambientindex.go
  pkg/kube/krt/collection.go
  pkg/kube/krt/collection_test.go
  pkg/kube/krt/conformance_test.go
  pkg/kube/krt/core.go
  pkg/kube/krt/fetch.go
  pkg/kube/krt/index_test.go
  pkg/kube/krt/informer.go
  pkg/kube/krt/join.go
  pkg/kube/krt/join_test.go
  pkg/kube/krt/recomputetrigger_test.go
  pkg/kube/krt/singleton.go
  pkg/kube/krt/singleton_test.go
  pkg/kube/krt/static.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-networking-maintainers

Refactor RunX iptables function calls and reduce spammy logs
  cni/pkg/iptables/iptables.go
  tools/istio-iptables/pkg/capture/helper.go
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/dependencies/implementation.go
  tools/istio-iptables/pkg/dependencies/implementation_linux.go
  tools/istio-iptables/pkg/dependencies/implementation_unspecified.go
  tools/istio-iptables/pkg/dependencies/interface.go
  tools/istio-iptables/pkg/dependencies/stub.go
Owners: @istio/wg-networking-maintainers

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@master in istio/istio@master (#54758)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

sample: modify imagepullpolicy to Always for latest image (#54702)
  samples/extauthz/ext-authz.yaml
  samples/extauthz/local-ext-authz.yaml
Owners: @istio/wg-docs-maintainers-english

start ProxyConfig deprecation analyzer (#54690)
  pilot/cmd/pilot-agent/config/config.go
  pkg/config/mesh/mesh_test.go
  pkg/config/validation/agent/validation.go
  pkg/config/validation/agent/validation_test.go
  pkg/kube/inject/validate.go
  releasenotes/notes/54690.yaml
Owners: @istio/wg-networking-maintainers

ambient: move networks logic to native krt
  pilot/pkg/serviceregistry/kube/controller/ambient/ambientindex.go
  pilot/pkg/serviceregistry/kube/controller/ambient/ambientindex_test.go
  pilot/pkg/serviceregistry/kube/controller/ambient/helpers.go
  pilot/pkg/serviceregistry/kube/controller/ambient/networks.go
  pilot/pkg/serviceregistry/kube/controller/ambient/services.go
  pilot/pkg/serviceregistry/kube/controller/ambient/services_test.go
  pilot/pkg/serviceregistry/kube/controller/ambient/waypoints.go
  pilot/pkg/serviceregistry/kube/controller/ambient/workloads.go
  pilot/pkg/serviceregistry/kube/controller/ambient/workloads_test.go
  pilot/pkg/serviceregistry/kube/controller/controller.go
  pilot/pkg/serviceregistry/kube/controller/network_test.go
Owners: @istio/wg-networking-maintainers-pilot

fix tests
  pilot/pkg/serviceregistry/kube/controller/ambient/ambientindex_test.go
  pilot/pkg/serviceregistry/kube/controller/ambient/networks.go
Owners: @istio/wg-networking-maintainers-pilot

Add test
  cni/pkg/nodeagent/informers_test.go
Owners: @istio/wg-networking-maintainers

rename
  pilot/pkg/features/experimental.go
  pilot/pkg/model/service.go
  pilot/pkg/networking/core/cluster_test.go
  pilot/pkg/serviceregistry/kube/controller/pod.go
  pilot/pkg/xds/eds_test.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot

note
  releasenotes/notes/traffic-distribution.yaml
Owners: none

Path and go 1.24
  bin/init.sh
Owners: @istio/wg-test-and-release-maintainers

Automator: update common-files@master in istio/istio@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update common-files@master in istio/istio@master (#54767)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers

Automator: update proxy@master in istio/istio@master (#54768)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

rebase
  pilot/pkg/serviceregistry/kube/controller/ambient/networks.go
Owners: @istio/wg-networking-maintainers-pilot

bump binary size
  tests/binary/binaries_test.go
Owners: @istio/wg-test-and-release-maintainers

Include krtz in bug-report
  tools/bug-report/pkg/common/common.go
Owners: @istio/wg-test-and-release-maintainers

ambient: move networks logic to native krt (#54677)
  pilot/pkg/serviceregistry/kube/controller/ambient/ambientindex.go
  pilot/pkg/serviceregistry/kube/controller/ambient/ambientindex_test.go
  pilot/pkg/serviceregistry/kube/controller/ambient/helpers.go
  pilot/pkg/serviceregistry/kube/controller/ambient/networks.go
  pilot/pkg/serviceregistry/kube/controller/ambient/services.go
  pilot/pkg/serviceregistry/kube/controller/ambient/services_test.go
  pilot/pkg/serviceregistry/kube/controller/ambient/waypoints.go
  pilot/pkg/serviceregistry/kube/controller/ambient/workloads.go
  pilot/pkg/serviceregistry/kube/controller/ambient/workloads_test.go
  pilot/pkg/serviceregistry/kube/controller/controller.go
  pilot/pkg/serviceregistry/kube/controller/network_test.go
  tests/binary/binaries_test.go
Owners: @istio/wg-networking-maintainers-pilot, @istio/wg-test-and-release-maintainers

Automator: update ztunnel@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

cleanup old ingress class annotation code from pre-K8s 1.18
  pilot/pkg/bootstrap/configcontroller.go
  pilot/pkg/config/kube/ingress/controller.go
  pilot/pkg/config/kube/ingress/conversion.go
  pilot/pkg/config/kube/ingress/conversion_test.go
  pilot/pkg/config/kube/ingress/status.go
  pilot/pkg/config/kube/ingress/status_test.go
Owners: @istio/wg-networking-maintainers

Automator: update ztunnel@master in istio/istio@master (#54772)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

leave in support, clean up old comments
  pilot/pkg/config/kube/ingress/controller.go
  pilot/pkg/config/kube/ingress/conversion.go
  pilot/pkg/config/kube/ingress/conversion_test.go
  pilot/pkg/config/kube/ingress/status.go
  pilot/pkg/config/kube/ingress/status_test.go
Owners: @istio/wg-networking-maintainers

Automator: update proxy@release-1.24 in istio/istio@release-1.24
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@release-1.24 in istio/istio@release-1.24 (#54774)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Clean up forked ingress config controller comments (#54773)
  pilot/pkg/bootstrap/configcontroller.go
  pilot/pkg/config/kube/ingress/conversion.go
Owners: @istio/wg-networking-maintainers

ignore route matchers with sourceLabels in waypoints
  pilot/pkg/networking/core/listener_waypoint.go
  releasenotes/notes/51565-waypoint-sourcelabels.yaml
Owners: @istio/wg-networking-maintainers-pilot

add support for a new Envoy command-line option to skip deprecated logs (#54738)
  pilot/cmd/pilot-agent/app/cmd.go
  pilot/cmd/pilot-agent/options/agent.go
  pilot/cmd/pilot-agent/options/options.go
  pkg/bootstrap/config.go
  pkg/envoy/proxy.go
  pkg/envoy/proxy_test.go
  pkg/istio-agent/agent.go
  pkg/model/proxy.go
  releasenotes/notes/54738.yaml
Owners: @istio/wg-networking-maintainers, @istio/wg-security-maintainers, @istio/wg-test-and-release-maintainers

wip (#54751)
  pilot/pkg/serviceregistry/serviceentry/controller.go
  pilot/pkg/serviceregistry/serviceentry/store.go
Owners: @istio/wg-networking-maintainers-pilot

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu
