Repository istio/istio, changes with the owners that CODEOWNERS names for each.
All owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu, @istio/wg-test-and-release-maintainers, @istio/wg-environments-maintainers, @istio/wg-networking-maintainers, @istio/wg-user-experience-maintainers, @istio/wg-security-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-policies-and-telemetry-maintainers, @istio/wg-docs-maintainers-english, @istio/wg-networking-maintainers-ztunnel

CODEOWNERS:

*                                                                @costinm @linsun @howardjohn @stevenctl @keithmattix @hzxuzhonghu
/.gitattributes                                                  @istio/wg-test-and-release-maintainers
/.gitignore                                                      @istio/wg-test-and-release-maintainers
/Makefile.core.mk                                                @istio/wg-test-and-release-maintainers
/bin/                                                            @istio/wg-test-and-release-maintainers
/cmd/istiod/                                                     @istio/wg-environments-maintainers
/cni/                                                            @istio/wg-networking-maintainers
/common/                                                         @istio/wg-test-and-release-maintainers
/common-protos/                                                  @istio/wg-test-and-release-maintainers
/install/                                                        @istio/wg-environments-maintainers
/istioctl/                                                       @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
Makefile*                                                        @istio/wg-test-and-release-maintainers
/manifests/                                                      @istio/wg-environments-maintainers
/operator/                                                       @istio/wg-environments-maintainers
/pilot/                                                          @istio/wg-networking-maintainers
/pilot/pkg/security/                                             @istio/wg-security-maintainers
/pilot/pkg/config/                                               @istio/wg-networking-maintainers
/pilot/pkg/networking/plugin/authn/                              @istio/wg-security-maintainers
/pilot/pkg/networking/plugin/authz/                              @istio/wg-security-maintainers
/pilot/pkg/serviceregistry/                                      @istio/wg-networking-maintainers-pilot
/pilot/pkg/model/                                                @istio/wg-networking-maintainers-pilot
/pilot/pkg/networking/core                                       @istio/wg-networking-maintainers-pilot
/pilot/pkg/proxy                                                 @istio/wg-networking-maintainers-pilot
/pkg/                                                            @istio/wg-test-and-release-maintainers
/pkg/adsc/                                                       @istio/wg-networking-maintainers
/pkg/bootstrap/                                                  @istio/wg-networking-maintainers
/pkg/config/                                                     @istio/wg-networking-maintainers
/pkg/config/analysis/                                            @istio/wg-networking-maintainers @istio/wg-user-experience-maintainers
/pkg/dns/                                                        @istio/wg-networking-maintainers
/pkg/envoy/                                                      @istio/wg-networking-maintainers
/pkg/istio-agent/                                                @istio/wg-networking-maintainers @istio/wg-security-maintainers
/pkg/keepalive/                                                  @istio/wg-networking-maintainers
/pkg/monitoring/                                                 @istio/wg-networking-maintainers @istio/wg-policies-and-telemetry-maintainers
/pkg/kube/                                                       @istio/wg-networking-maintainers
/pkg/mcp/                                                        @istio/wg-networking-maintainers
/pkg/queue/                                                      @istio/wg-networking-maintainers
/pkg/security/                                                   @istio/wg-security-maintainers @istio/wg-environments-maintainers
/pkg/spiffe/                                                     @istio/wg-security-maintainers
/pkg/test/                                                       @istio/wg-test-and-release-maintainers
/pkg/fuzz/                                                       @istio/wg-test-and-release-maintainers
/pkg/tracing/                                                    @istio/wg-policies-and-telemetry-maintainers
/pkg/wasm/                                                       @istio/wg-policies-and-telemetry-maintainers
/pkg/webhooks/                                                   @istio/wg-environments-maintainers
/pkg/workloadapi/                                                @istio/wg-networking-maintainers
/prow/                                                           @istio/wg-test-and-release-maintainers
/release/                                                        @istio/wg-test-and-release-maintainers
/releasenotes/                                                   @istio/wg-test-and-release-maintainers
/releasenotes/notes
/samples/                                                        @istio/wg-docs-maintainers-english
/samples/addons                                                  @istio/wg-policies-and-telemetry-maintainers @istio/wg-environments-maintainers
/samples/ambient-argo                                            @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/samples/multicluster                                            @istio/wg-networking-maintainers
/security/                                                       @istio/wg-security-maintainers
/tests/                                                          @istio/wg-test-and-release-maintainers
/tests/integration/conformance/                                  @istio/wg-test-and-release-maintainers
/tests/integration/framework/                                    @istio/wg-test-and-release-maintainers
/tests/integration/galley/                                       @istio/wg-networking-maintainers
/tests/integration/telemetry/                                    @istio/wg-policies-and-telemetry-maintainers
/tests/integration/pilot/                                        @istio/wg-networking-maintainers
/tests/integration/qualification/                                @istio/wg-test-and-release-maintainers
/tests/integration/security/                                     @istio/wg-security-maintainers
/tests/integration/istioctl/                                     @istio/wg-user-experience-maintainers @istio/wg-networking-maintainers
/tools/                                                          @istio/wg-test-and-release-maintainers
/tools/packaging/common/envoy_bootstrap.json                     @istio/wg-networking-maintainers
/tools/istio-iptables/                                           @istio/wg-networking-maintainers
architecture/ambient                                             @istio/wg-networking-maintainers-pilot @istio/wg-networking-maintainers-ztunnel
architecture/environments                                        @istio/wg-environments-maintainers
architecture/networking                                          @istio/wg-networking-maintainers
architecture/security                                            @istio/wg-security-maintainers

Automator: update proxy@master in istio/istio@master (#54989)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@master in istio/istio@master (#54993)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Add releasenote for default change to internalAddressConfig
  pilot/pkg/networking/core/gateway.go
  pilot/pkg/networking/core/listener_builder.go
  releasenotes/notes/53402.yaml
Owners: @istio/wg-networking-maintainers-pilot

Clarify security implications
  pilot/pkg/networking/core/gateway.go
  pilot/pkg/networking/core/listener_builder.go
  releasenotes/notes/53402.yaml
Owners: @istio/wg-networking-maintainers-pilot

Add docs to upgradeNote
  releasenotes/notes/53402.yaml
Owners: none

Make gen
  pkg/bootstrap/testdata/ambient_golden.json
Owners: @istio/wg-networking-maintainers

multus: fix behaviour when the value of `k8s.v1.cni.cncf.io/networks` annotation is a JSON array
  pkg/kube/inject/template.go
  pkg/kube/inject/testdata/inject/hello-existing-cncf-networks-json.yaml.injected
Owners: @istio/wg-networking-maintainers

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@master in istio/istio@master (#55001)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

support delete waypoint for istioctl uninstall
  operator/pkg/uninstall/prune.go
  releasenotes/notes/55003.yaml
Owners: @istio/wg-environments-maintainers

do not inject ext-authz demo
  samples/extauthz/ext-authz.yaml
Owners: @istio/wg-docs-maintainers-english

do not inject ext-authz demo (#55004)
  samples/extauthz/ext-authz.yaml
Owners: @istio/wg-docs-maintainers-english

Cherry pick 54383 to release 1.23 (#54998)
  pilot/cmd/pilot-agent/options/agent.go
  pilot/cmd/pilot-agent/options/options.go
  pkg/bootstrap/config.go
  pkg/bootstrap/instance_test.go
  pkg/bootstrap/testdata/all_golden.json
  pkg/bootstrap/testdata/ambient.proxycfg
  pkg/bootstrap/testdata/ambient_golden.json
  pkg/bootstrap/testdata/auth_golden.json
  pkg/bootstrap/testdata/authsds_golden.json
  pkg/bootstrap/testdata/default_golden.json
  pkg/bootstrap/testdata/deferred_cluster_creation_golden.json
  pkg/bootstrap/testdata/explicit_internal_address_golden.json
  pkg/bootstrap/testdata/legacy_stats_tags_regex_golden.json
  pkg/bootstrap/testdata/lrs_golden.json
  pkg/bootstrap/testdata/running_golden.json
  pkg/bootstrap/testdata/runningsds_golden.json
  pkg/bootstrap/testdata/stats_compression_brotli_golden.json
  pkg/bootstrap/testdata/stats_compression_gzip_golden.json
  pkg/bootstrap/testdata/stats_compression_unknown_golden.json
  pkg/bootstrap/testdata/stats_compression_zstd_golden.json
  pkg/bootstrap/testdata/stats_inclusion_golden.json
  pkg/bootstrap/testdata/tracing_datadog_golden.json
  pkg/bootstrap/testdata/tracing_lightstep_golden.json
  pkg/bootstrap/testdata/tracing_none_golden.json
  pkg/bootstrap/testdata/tracing_opencensusagent_golden.json
  pkg/bootstrap/testdata/tracing_tls_custom_sni_golden.json
  pkg/bootstrap/testdata/tracing_tls_golden.json
  pkg/bootstrap/testdata/tracing_zipkin_golden.json
  pkg/bootstrap/testdata/xdsproxy_golden.json
  pkg/istio-agent/agent.go
  pkg/istio-agent/testdata/grpc-bootstrap.json
  pkg/model/proxy.go
  releasenotes/notes/ambient-ingress-discovery.yaml
Owners: @istio/wg-networking-maintainers, @istio/wg-security-maintainers, @istio/wg-test-and-release-maintainers

feat: Make termination grace period configurable
  manifests/charts/istio-control/istio-discovery/files/waypoint.yaml
Owners: @istio/wg-environments-maintainers

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@master in istio/istio@master (#55010)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Update BASE_VERSION to 1.22-2025-02-07T19-02-05
  Makefile.core.mk
Owners: @istio/wg-test-and-release-maintainers

Update BASE_VERSION to 1.24-2025-02-07T19-01-21
  Makefile.core.mk
Owners: @istio/wg-test-and-release-maintainers

Update BASE_VERSION to master-2025-02-07T19-01-40
  Makefile.core.mk
Owners: @istio/wg-test-and-release-maintainers

Update BASE_VERSION to 1.22-2025-02-07T19-02-05 (#55012)
  Makefile.core.mk
Owners: @istio/wg-test-and-release-maintainers

Add dest workload to traces.
  pilot/pkg/networking/core/tracing.go
  pilot/pkg/networking/core/tracing_test.go
  releasenotes/notes/waypoint-dest-traces.yaml
Owners: @istio/wg-networking-maintainers-pilot

Update BASE_VERSION to master-2025-02-07T19-01-40 (#55014)
  Makefile.core.mk
Owners: @istio/wg-test-and-release-maintainers

Fix tests
  pilot/pkg/networking/core/listener_test.go
Owners: @istio/wg-networking-maintainers-pilot

naming
  pilot/pkg/networking/core/listener_test.go
  pilot/pkg/networking/core/tracing.go
  pilot/pkg/networking/core/tracing_test.go
Owners: @istio/wg-networking-maintainers-pilot

Update BASE_VERSION to 1.24-2025-02-07T19-01-21 (#55013)
  Makefile.core.mk
Owners: @istio/wg-test-and-release-maintainers

refactor: Remove default for termination grace period
  manifests/charts/istio-control/istio-discovery/files/waypoint.yaml
  manifests/charts/istio-control/istio-discovery/values.yaml
Owners: @istio/wg-environments-maintainers

feat: Add conditional termination grace period
  manifests/charts/istio-control/istio-discovery/files/waypoint.yaml
Owners: @istio/wg-environments-maintainers

refactor: simplify terminationGracePeriodSeconds logic
  manifests/charts/istio-control/istio-discovery/files/waypoint.yaml
Owners: @istio/wg-environments-maintainers

addons: Bump addons version
  manifests/addons/gen.sh
  samples/addons/loki.yaml
  samples/addons/prometheus.yaml
Owners: @istio/wg-environments-maintainers, @istio/wg-policies-and-telemetry-maintainers

refactor: Make terminationGracePeriodSeconds configurable
  operator/cmd/mesh/testdata/manifest-generate/output/all_on.golden-show-in-gh-pull-request.yaml
  operator/cmd/mesh/testdata/manifest-generate/output/pilot_default.golden.yaml
  operator/cmd/mesh/testdata/manifest-generate/output/sidecar_template.golden.yaml
Owners: @istio/wg-environments-maintainers

refactor: Simplify waypoint config updating
  tests/integration/ambient/baseline_test.go
Owners: @istio/wg-test-and-release-maintainers

refactor: Update waypoint template in test
  tests/integration/ambient/baseline_test.go
Owners: @istio/wg-test-and-release-maintainers

fix: Default termination grace period to 2
  manifests/charts/istio-control/istio-discovery/files/waypoint.yaml
Owners: @istio/wg-environments-maintainers

code review
  pkg/kube/inject/testdata/inject/hello-existing-cncf-networks-json.yaml
  pkg/kube/inject/testdata/inject/hello-existing-cncf-networks-json.yaml.injected
Owners: @istio/wg-networking-maintainers

Automator: update proxy@master in istio/istio@master
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

Automator: update proxy@master in istio/istio@master (#55018)
  istio.deps
Owners: @costinm, @linsun, @howardjohn, @stevenctl, @keithmattix, @hzxuzhonghu

fix: Adjust termination grace period handling
  manifests/charts/istio-control/istio-discovery/files/waypoint.yaml
  operator/cmd/mesh/testdata/manifest-generate/output/all_on.golden-show-in-gh-pull-request.yaml
  operator/cmd/mesh/testdata/manifest-generate/output/pilot_default.golden.yaml
  operator/cmd/mesh/testdata/manifest-generate/output/sidecar_template.golden.yaml
  tests/integration/ambient/baseline_test.go
Owners: @istio/wg-environments-maintainers, @istio/wg-test-and-release-maintainers

feat: Add conditional termination grace period
  tests/integration/ambient/baseline_test.go
Owners: @istio/wg-test-and-release-maintainers

feat: Add termination grace period to gateway config
  pilot/pkg/config/kube/gateway/deploymentcontroller_test.go
Owners: @istio/wg-networking-maintainers
